button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #2b82ad;
    color: white;
    border-radius: 5px;
}
.content-left {
    width: 75%;
    float: left;
    padding-right: 80px;
    .alert{
        padding: 10px 16px;
        p{
            margin-bottom: 0;
        }
        .btn-close{
            margin-top: 0;
            padding: 0 0;
            height: 41px;
            width: 43px;
            background-color: #d1e7dd;
        }
    }

    .customer-item {
        display: flex;
        margin-bottom: 20px;
        .customer-item__title {
            width: 102px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 700;
            margin-top: 8px;
        }
        .customer-item__wrap {
            flex: 1;
            .customer__input {
                width: 100%;
                padding: 4px 10px;
                font-size: 14px;
            }
        }
    }
    .customer-phone{
        display: flex;
        .customer-phone__title{
            width: 102px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 700;
            margin-top: 8px;
        }
        .customer-phone__wrap {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            .customer-phone__title{
                margin-bottom: 0;
                margin-top: 8px;
            }
            .customer-phone__input{
                padding: 4px 10px;
                width: 120px;
            }
            .customer-phone__change{
                margin-top: 8px;
                margin-left: 20px;
                text-decoration: none;
                color: #2b82ad;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
    
    .btn-save-account-disible{
        margin-top: 20px;
        background-color: #ccc;
        color: #666;
        cursor: text;
    }
    .btn-save-account{
        margin-top: 20px;
    }
    .btn-save-account:hover {
        opacity: 0.9; 
    } 
}
.content-right {
    width: 25%;
    float: left;
    height: 300px;
    border-left: 1px solid gray;
    .avatar-change {
        padding-left: 40%;
        .avatar{
            border-radius: 50%;
            border: 1px solid black;
            width: 100px;
            height: 100px;
        }
        
    }
    .custom-file-input {
        color: transparent;
        margin-top: 20px;
        margin-left: 42%;
    }
    .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
        
    }
    .custom-file-input::before {
        content: 'Chọn Ảnh';
        color: white;
        display: inline-block;
        background: #2b82ad;
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
    }
    .custom-file-input:hover::before {
        border-color: black;
    }
    .custom-file-input:active {
        outline: 0;
    }
    .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
    }
}

@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 770px){
    .content-right{
        display: none;
    }
    .content-left{
        width: 100%;
        padding-right: 0;
        button{
            width: 100%;
        }
    }
}

//tablet
@media only screen and (min-width: 770px ) and (max-width: 1023px){
    .content-left{
        padding-right: 20px;
    } 
}
