button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #2b82ad;
    color: white;
    border-radius: 5px;
}
.content-left {
    width: 75%;
    float: left;
    padding-right: 50px;
    .name-customer,
    .email-customer,
    .address-customer {
        width: 100%;
        height: 30px;
        margin-top: 20px;
        p {
            float: left;
            width: 30%;
            font-weight: 600;
        }
        .input-type{
            overflow: auto;
            width: 70%;
            float: left;
            input {
                padding-left: 10px;
                width: 100%;
            }
            .is-invalid{
                border: red 2px solid;
            }
        }
        
    }
    .sex-customer {
        width: 100%;
        margin-top: 30px;
        p {
            width: 30%;
            float: left;
            font-weight: 600;
        }
        label {
            margin-right: 30px;
        }
    }
    .phone-customer {
        width: 100%;
        margin-top: 30px;
        p{
            width: 30%;
            float: left;
            font-weight: 600;
        }
        
        .input-type{
            overflow: auto;
            width: 70%;
            float: left;
            p {
                float: left;
                width: 43%;
                font-weight: 600;
            }
            a {
                text-decoration: none;
                color: #2b82ad;
                font-weight: 600;
                cursor: pointer;
            }
            input{
                width: 163px;
                padding-left: 10px;
                margin-right: 10px;
            }
            .is-invalid{
                border: red 2px solid;
            }
        }
       
    }
    button {
        margin-top: 20px;
    }
    button:hover {
        background-color: black;
        
    }
    .alert{
        padding: 10px 16px;
        p{
            margin-bottom: 0;
        }
        .btn-close{
            margin-top: 0;
            padding: 0 0;
            height: 41px;
            width: 43px;
            background-color: #d1e7dd;
        }
    }
    
}
.content-right {
    width: 25%;
    float: left;
    height: 300px;
    border-left: 1px solid gray;
    .avatar-change {
        padding-left: 40%;
        .avatar{
            border-radius: 50%;
            border: 1px solid black;
            width: 100px;
            height: 100px;
        }
        
    }
    .custom-file-input {
        color: transparent;
        margin-top: 20px;
        margin-left: 42%;
      }
      .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
        
      }
      .custom-file-input::before {
        content: 'Chọn Ảnh';
        color: white;
        display: inline-block;
        background: #2b82ad;
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
      }
      .custom-file-input:hover::before {
        border-color: black;
      }
      .custom-file-input:active {
        outline: 0;
      }
      .custom-file-input:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
      }

}
@media only screen and (max-width: 1023px){

}

@media only screen and (max-width: 739px){
    .content-right{
        display: none;
    }
    .content-left{
        width: 100%;
        padding-right: 0;
        button{
            width: 100%;
        }
    }
}
//tablet
@media only screen and (min-width: 739px ) and (max-width: 1023px){
        .customer-left{
            width: 30%;
            .avatar-name{
                text-align: center;
                flex-direction: column;
                line-height: 2;
                p{
                    width: 100%;
                    margin-left: 0;
                }
                img{
                    margin-left: 60px;
                }
            }
            .inline{
                padding-left: 60px;
            }
        }
        .customer-right{
            width: 70%;
 
        }
}
