$blue: #2b82ad;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.body-home {
    margin-top: 3em;
    .title-everyday {
        h5 {
            margin-left: 42%;
            font-size: 30px;
        }
        ul {
            // margin-left: 30%;
            font-size: 15px;
        }
        .tab-panels {
            p {
                font-size: 20px;
            }
        }
        .day-product {
            .textDay{
                font-size: 17px;
            }
            .clickDay {
                color: $black;
            }
        }
        // San Pham Slide
        div {
            .product__item {
                margin-bottom: 50px;
                .set-bg {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: top center;
                }
                .product__item__pic {
                    height: 270px;
                    // width: 290px;
                    position: relative;
                    overflow: hidden;
                    .product__item__pic__hover {
                        position: absolute;
                        left: 0;
                        bottom: -60px;
                        width: 100%;
                        text-align: center;
                        -webkit-transition: all, 0.5s;
                        -moz-transition: all, 0.5s;
                        -ms-transition: all, 0.5s;
                        -o-transition: all, 0.5s;
                        transition: all, 0.5s;
                        li {
                            list-style: none;
                            display: inline-block;
                            margin-right: 6px;
                            a {
                                font-size: 16px;
                                color: $black;
                                height: 40px;
                                width: 40px;
                                line-height: 40px;
                                text-align: center;
                                border: 1px solid #ebebeb;
                                background: $white;
                                display: block;
                                border-radius: 50%;
                                -webkit-transition: all, 0.5s;
                                -moz-transition: all, 0.5s;
                                -ms-transition: all, 0.5s;
                                -o-transition: all, 0.5s;
                                transition: all, 0.5s;
                                i {
                                    position: relative;
                                    transform: rotate(0);
                                    -webkit-transition: all, 0.3s;
                                    -moz-transition: all, 0.3s;
                                    -ms-transition: all, 0.3s;
                                    -o-transition: all, 0.3s;
                                    transition: all, 0.3s;
                                }
                            }
                        }
                        li:last-child {
                            margin-right: 0;
                        }
                        li:hover a {
                            background: $blue;
                            border-color: $blue;
                            i {
                                color: $white;
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
                .product__item__text {
                    text-align: center;
                    padding-top: 15px;
                    h6 {
                        margin-bottom: 10px;
                        font-weight: bold;
                        font-size: 16px;
                        a {
                            color: $black;
                            text-decoration: none;
                        }
                    }
                    h5 {
                        color: $black;
                        font-weight: 700;
                        font-size: 1.25rem;
                        margin-left: 0%;
                    }
                }
            }
            .product__item:hover .product__item__pic .product__item__pic__hover {
                bottom: 20px;
            }
            .product__item:hover {
                // -webkit-box-shadow: 0px 0px 10px 2px $blue2;
                // box-shadow: 0px 0px 10px 2px $blue2;
                transform: scale(1.03);
                visibility: visible;
            }
        }
    }
}