<div class="body-home">
  <div class="title-body">
    <h5>Cơm Mẹ Nấu</h5>
    <p>Cơm Mẹ Nấu Delivery</p>
    <button>Đăng Nhập</button>
    <button>Menu</button>
  </div>
  <div class="title-everyday">
    <div class="container section-title-container" style="margin-bottom: 0px">
      <h5>Cơm Trưa Văn Phòng</h5>
    </div>
    <div class="container">
      <ul class="nav nav-pills nav-uppercase nav-size-large nav-center">
        <li>
          <a href=""> <label for="">Thứ 2 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 3 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 4</label> </a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 5 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 6 </label></a>
        </li>
        <li>
          <a href=""> <label for="">Thứ 7 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Chủ Nhật </label></a>
        </li>
      </ul>
      <div class="tab-panels">
        <div class="col-lg-3 col-md-12 col-sm-12" *ngFor="let doan of dataPro">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              style="background-image: url(assets/img/product/1.png)"
            >
              <ul class="product__item__pic__hover">
                <li>
                  <a href="#"><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a routerLink="/chitietsanpham"
                    ><i class="fa fa-external-link"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6>
                <a href="#">{{ doan.name }}</a>
              </h6>
              <h5>{{ doan.price }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
