$blue: #3ac5c8;
$blue1: #23536b;
$blue2: #2b82ad;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.breadcurb-area {
    .container {
        .breadcrumb {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            margin: 15px 0 20px;
            padding: 0;
            font-size: 15px;
            a {
                transition: all 0.3s ease 0s;
                text-decoration: none;
                color: rgb(161, 147, 147);
            }
        }
    }
}