$blue: #3ac5c8;
$blue1: #23536b;
$blue2: #2b82ad;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.sidebar__item {
  margin-bottom: 35px;
  h5 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 15px;
  }
  ul {
    li {
      list-style: none;
      a {
        font-size: 16px;
        color: $black;
        line-height: 39px;
        display: block;
      }
    }
  }
}
