<hr>
<h1>CHI TIẾT THANH TOÁN</h1>
<div class="name-checkout">
    <h5>Họ tên*</h5>
    <input type="text">
</div>
<div class="address-checkout">
    <h5>Địa chỉ*</h5>
    <input type="text">
</div>
<div class="phone-checkout">
    <h5>Số điện thoại*</h5>
    <input type="text">
</div>
<div class="email-checkout">
    <h5>Email*</h5>
    <input type="text">
</div>
<h5>Bạn chưa có tài khoản? <a href="">Đăng kí ngay</a></h5>
<div class="note-checkout">
    <h5>Ghi chú đặt hàng</h5>
    <textarea name="note-checkout" id="note-checkout" cols="130" rows="8"></textarea>
</div>