* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h5 {
    background-color: white;
    font-size: 14px;
}

h2 {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-weight: 600;
}

.container {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
    .title-order {
        color: #2b82ad;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
    }
    .order-detail {
        .order-left {
            width: 60%;
            float: left;
            padding-right: 30px;
            padding-left: 0px;
            .info-customer {
                width: 100%;
                .info-detail-customer {
                    padding: 14px 30px;
                    .info-detail-customer-wrap {
                        display: flex;
                        margin-bottom: 10px;
                        .label-info {
                            min-width: 100px;
                            font-weight: 700;
                        }
                        .label-content{
                            font-weight: 400;
                        }
                    }
                }
            }
            .order-detail {
                width: 100%;
                .order {
                    margin-top: 30px;
                    padding-right: 5%;
                    padding-left: 5%;
                    table {
                        tbody{
                            overflow: auto;
                            margin-top: 10px;
                        }
                        width: 100%;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        h5 {
                            font-weight: 600;
                            font-size: 15px;
                        }
                        th {
                            font-weight: normal;
                        }
                        .right {
                            float: right;
                        }
                    }
                    .wrap-checkout {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5px;
                        .bold {
                            color: #2b82ad;
                            font-weight: 600;
                        }
                    }
                    .note{
                        margin-top: 5px;
                        p{
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .order-right {
            width: 40%;
            float: left;
            margin-top: 30px;
            .order-right-detail {
                border: 2px solid black;
                background-color: lightgray;
                height: 250px;
                float: right;
                width: 100%;
                h2 {
                    margin-top: 30px;
                    text-align: center;
                }
                .content-detail {
                    width: 100%;
                    padding-top: 30px;
                    padding-left: 60px;
                    .id-order,
                    .date-order,
                    .total-order {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 30px;
                        h5 {
                            width: 40%;
                            float: left;
                        }
                        p {
                            width: 60%;
                            float: left;
                        }
                    }
                }
                h5 {
                    background-color: lightgray;
                }
            }
        }
    }

    .btn-countinueOrder{
        max-width: 250px;
        text-decoration: none;
        background-color: #000;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding: 6px 0px;
        border-radius: 3px;
        margin-top: 20px;
        opacity: 0.8;
        cursor: pointer;
        .btn-countinueOrder__icon{
            font-weight: 400;
            margin-right: 10px;
        }
    }
}
@media only screen and (max-width: 63.9375em){
    
    .container{
        .order-detail{
            .order-left{
                width: 100%;
                padding-right: 0px;
                padding-left: 0px;
                .info-customer{
                    width: 100%;
                }
            }
            .order-right{
                width: 100%;
            }
        }
    }
    
}
@media only screen and (max-width: 46.1875em){
    
}
//tablet
@media only screen and (min-width: 46.25em ) and (max-width: 63.9375em){
    
    
    
}