<div class="container">
    <div class="row">
        <h1 class="title-order">ĐƠN HÀNG</h1>
    <div class="order-detail">
        <div class="order-left">
            <div class="info-customer">
                <h2>THÔNG TIN KHÁCH HÀNG</h2>
                <hr>
                <div class="info-detail-customer">
                    <div class="name-order">
                        <h5 class="label-info">Họ tên:</h5>
                        <p>Nguyễn Phong</p>
                    </div>
                    <div class="addres-order">
                        <h5 class="label-info">Địa chỉ:</h5>
                        <p>23, Nguyễn Văn Trỗi, Quận 1, TPHCM</p>
                    </div>
                    <div class="phone-order">
                        <h5 class="label-info">Điện thoại:</h5>
                        <p>0397786578</p>
                    </div>
                </div>
            </div>
            <div class="order-detail">
                <h2>CHI TIẾT ĐƠN HÀNG</h2>
                <hr>
                <div class="order">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <h5>Sản phẩm</h5>
                                </th>
                                <th></th>
                                <th class="right">
                                    <h5>Tổng</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of items">
                                <th>{{i.name}}</th>
                                <th>x<span>{{i.quatity}}</span></th>
                                <th class="right">{{i.price}} đ</th>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="discount-checkout">
                        <h5 class="bold">Giảm giá</h5>
                        <p> {{getDisCount()}} đ</p>
                    </div>
                    <div class="total-checkout">
                        <h5 class="bold">Tổng cộng</h5>
                        <p class="bold">{{getAllTotal()}} đ</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="order-right">
            <div class="order-right-detail">
                <h2>THÔNG TIN ĐƠN HÀNG</h2>
                <div class="content-detail">
                    <div class="id-order">
                        <h5 class="label-info">Mã đơn hàng:</h5>
                        <p>HD0001</p>
                    </div>
                    <div class="date-order">
                        <h5 class="label-info">Ngày xuất</h5>
                        <p>{{day | date: ' dd/MM/y'}}</p>
                    </div>
                    <div class="total-order">
                        <h5 class="label-info">Tổng hóa đơn</h5>
                        <p>{{getAllTotal()}} đ</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
    
