h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #141619;
  font-weight: 400;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 19px;
}

p {
  font-size: 15px;
  color: #141619;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-title h2 {
  color: #141619;
  font-weight: 700;
  position: relative;
}

.section-title h2:after {
  position: absolute;
  left: 0;
  bottom: -15px;
  right: 0;
  height: 2px;
  width: 560px;
  background: #2B82AD;
  content: "";
  margin: 0 auto;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.primary-btn {
  display: inline-block;
  font-size: 14px;
  padding: 10px 28px 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background: #2B82AD;
  letter-spacing: 2px;
}

.site-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #2B82AD;
  border: none;
}

.container {
  width: 1080px;
}

.product-details {
  padding-top: 20px;
}

.product-details .product__details__pic .product__details__pic__item {
  margin-bottom: 20px;
}

.product-details .product__details__pic .product__details__pic__item img {
  width: 500px;
  height: 400px;
}

.product-details .product__details__pic .product__details__pic__slider img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-right: 25px;
}

.product-details .product__details__pic .product__details__pic__slider.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  width: 123.75px;
  margin-right: 20px;
}

.product-details .product__details__pic .product__details__pic__slider.owl-carousel .owl-item img {
  width: auto;
}

.product-details .product__details__text {
  margin-left: 5px;
}

.product-details .product__details__text h3 {
  color: #141619;
  font-weight: 700;
  margin-bottom: 16px;
}

.product-details .product__details__text .product__details__rating {
  font-size: 16px;
  margin-bottom: 12px;
}

.product-details .product__details__text .product__details__rating i {
  margin-right: -2px;
  color: #edbb0e;
}

.product-details .product__details__text .product__details__rating span {
  color: #dd2222;
  margin-left: 4px;
}

.product-details .product__details__text .product__details__price {
  font-size: 20px;
  color: #dd2222;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-details .product__details__text p {
  margin-bottom: 10px;
  color: #141619;
}

.product-details .product__details__text p samp {
  color: #dd2222;
}

.product-details .product__details__text .primary-btn {
  padding: 16px 28px 14px;
  margin-right: 6px;
  margin-bottom: 5px;
  text-decoration: none;
}

.product-details .product__details__text .heart-icon {
  display: inline-block;
  font-size: 16px;
  color: red;
  padding: 13px 16px 13px;
  cursor: pointer;
}

.product-details .product__details__text .product__details__quantity {
  display: inline-block;
  margin-right: 6px;
}

.product-details .product__details__text .product__details__quantity .pro-qty {
  width: 140px;
  height: 50px;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-bottom: 5px;
}

.product-details .product__details__text .product__details__quantity .pro-qty input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #141619;
  width: 50px;
  border: none;
  text-align: center;
}

.product-details .product__details__text .product__details__quantity .pro-qty .qtybtn {
  width: 30px;
  height: 30px;
  font-size: 16px;
  color: #141619;
  cursor: pointer;
  display: inline-block;
  border: #111111 solid 1px;
}

.product-details .product__details__tab {
  padding-top: 40px;
}

.product-details .product__details__tab .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product-details .product__details__tab .nav-tabs li {
  margin-bottom: 0;
  margin-right: 65px;
}

.product-details .product__details__tab .nav-tabs li:last-child {
  margin-right: 0;
}

.product-details .product__details__tab .nav-tabs li a {
  font-size: 20px;
  color: #141619;
  font-weight: 700;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  background-color: white;
}

.product-details .product__details__tab .nav-tabs li a:hover {
  background-color: white;
}

.product-details .product__details__tab .nav-tabs li .activeClick {
  color: #2B82AD;
}

.product-details .product__details__tab .nav-tabs:before {
  position: absolute;
  left: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #2B82AD;
  content: "";
}

.product-details .product__details__tab .nav-tabs:after {
  position: absolute;
  right: 0;
  top: 12px;
  height: 1px;
  width: 370px;
  background: #2B82AD;
  content: "";
}

.product-details .product__details__tab .product__details__tab__desc {
  padding-top: 44px;
}

.product-details .product__details__tab .product__details__tab__desc h6 {
  font-weight: 700;
  color: #141619;
  margin-bottom: 26px;
}

.product-details .product__details__tab .product__details__tab__desc p {
  color: #141619;
}

.related-product {
  padding-bottom: 20px;
}

.related-product .related__product__title {
  margin-bottom: 70px;
}

.related-product .product__item {
  margin-bottom: 50px;
}

.related-product .product__item .product__item__pic {
  height: 270px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.related-product .product__item .product__item__pic .product__item__pic__hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li a {
  font-size: 16px;
  color: #141619;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li a i {
  position: relative;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li:last-child {
  margin-right: 0;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li:hover a {
  background: #3ac5c8;
  border-color: #3ac5c8;
}

.related-product .product__item .product__item__pic .product__item__pic__hover li:hover a i {
  color: #ffffff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.related-product .product__item .product__item__text {
  text-align: center;
  padding-top: 15px;
}

.related-product .product__item .product__item__text h6 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.related-product .product__item .product__item__text h6 a {
  color: #141619;
  text-decoration: none;
}

.related-product .product__item .product__item__text h5 {
  color: #141619;
  font-weight: 700;
}

.related-product .product__item:hover .product__item__pic .product__item__pic__hover {
  bottom: 20px;
}

.related-product .product__item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  visibility: visible;
}

.breadcurb-area .breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding-top: 20px;
  font-size: 15px;
}

.breadcurb-area .breadcrumb a {
  text-decoration: none;
  color: #a19393;
}
/*# sourceMappingURL=shop-detail.component.css.map */