<!-- <section class="breadcrumb-section set-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Cơm trưa</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Trang chủ</a>
            <span>Cơm trưa</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="breadcurb-area">
  <div class="container">
      <ul class="breadcrumb">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Cơm trưa</a></li>
          <li>Thứ 2</li>
      </ul>
  </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img
              class="product__details__pic__item--large"
              src="assets/img/product/heo-quay-kho-cai-chua.png"
              alt=""
            />
          </div>
          <div class="product__details__pic__slider owl-carousel">
            <img
              data-imgbigurl="assets/img/product/heo-quay-kho-cai-chua.png"
              src="assets/img/product/heo-quay-kho-cai-chua.png"
              alt=""
            />
            <img
              data-imgbigurl="img/product/product/details/product-details-3.jpg"
              src="assets/img/product/heo-quay-kho-cai-chua.png"
              alt=""
            />
            <img
              data-imgbigurl="img/product/details/product-details-5.jpg"
              src="assets/img/product/heo-quay-kho-cai-chua.png"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>Heo Quay Xào Cải Chua</h3>
          <div class="product__details__price">35.000đ</div>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-alt"></i>
            <!-- <span>(18 reviews)</span> -->
          </div>
          <p>
            <b>Mô tả:</b> Là món ăn kết hợp giữa thịt heo quay và cải chua mang
            hương vị đồng quê dành cho người văn phòng. Món thêm 20k. Quy cách
            hộp PP 4 ngăn và hộp giấy bảo vệ môi trường
          </p>
          <p><b>Tình trạng:</b> Còn hàng</p>
          <p><b>Giao hàng:</b> 1 giờ. <samp> Miễn phí trong ngày</samp></p>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <span class="dec qtybtn">-</span><input type="text" value="1" />
                <span class="inc qtybtn">+</span>
              </div>
            </div>
          </div>
          <a href="#" class="primary-btn">Thêm Vào Giỏ Hàng</a>
          <a (click)="fullHeart()" class="heart-icon"
            ><span class="icon_heart_alt">
              <i *ngIf="heartIcon" class="fas fa-heart"></i>
              <i *ngIf="!heartIcon" class="far fa-heart"></i> </span
          ></a>
          <!-- <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul> -->
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                routerLink="#tabs-1"
                href="#tabs-1"
                role="tab"
                aria-selected="true"
                routerLinkActive="activeClick"
                [routerLinkActiveOptions]="{ exact: true }"
                >Mô tả</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                routerLink="#tabs-3"
                href="#tabs-3"
                role="tab"
                aria-selected="false"
                routerLinkActive="activeClick"
                [routerLinkActiveOptions]="{ exact: true }"
                >Đánh giá <span>(1)</span></a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Mô tả món ăn</h6>
                <p><b>Tên: </b>Thịt Xào Cải Chua</p>
                <p></p>
                <p>
                  <b>Mô tả:</b> Là món ăn kết hợp giữa thịt heo quay và cải chua
                  mang hương vị đồng quê dành cho người văn phòng. Món thêm 20k.
                  Quy cách hộp PP 4 ngăn và hộp giấy bảo vệ môi trường
                </p>
                <p><b>Tình trạng:</b> Còn hàng</p>
                <p>
                  <b>Giao hàng:</b> 1 giờ. <samp> Miễn phí trong ngày</samp>
                </p>
              </div>
            </div>

            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Đánh giá</h6>
                <p>Sản phẩm ngon</p>
                <p>Sản phẩm ngon</p>
                <p>Sản phẩm ngon</p>
                <p>Sản phẩm ngon</p>
                <p>Sản phẩm ngon</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Món ăn liên quan</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(assets/img/product/1.png)"
          >
            <ul class="product__item__pic__hover">
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a routerLink="/chitietsanpham"><i class="fa fa-external-link"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Cơm Tấm Sườn Bì</a></h6>
            <h5>30.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(assets/img/product/2.png)"
          >
            <ul class="product__item__pic__hover">
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-external-link"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Thịt Kho Đậu Hủ</a></h6>
            <h5>25.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(assets/img/product/3.png)"
          >
            <ul class="product__item__pic__hover">
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-external-link"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Thịt Luộc Cà Pháo</a></h6>
            <h5>35.000đ</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product__item">
          <div
            class="product__item__pic set-bg"
            style="background-image: url(assets/img/product/4.png)"
          >
            <ul class="product__item__pic__hover">
              <li>
                <a href="#"><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-external-link"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Cá Kho Tiêu</a></h6>
            <h5>20.000đ</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
