<div id="container">
    <div class="container-verify">
        <div class="wrap-verify">
            <form class="verify-form validate-form">
                <span class="verify-form-title">
                    Xác Nhận Mã
                </span>
                <p>Chúng tôi đã gửi mã xác minh đến email của bạn</p>
                <hr>
                <div class="wrap-input validate-input" data-validate="Code is reauired">
                    <span class="label-input">Mã xác nhận </span>
                    <input class="input" type="text" name="code" placeholder="Nhập mã xác nhận của bạn">
                    <div class="focus-input">
                        <div class="ic">
                            <i class="fas fa-code"></i>
                        </div>
                    </div>
                </div>
                <div class="container-verify-form-btn">
                    <div class="wrap-verify-form-btn">
                        <div class="verify-form-bgbtn"></div>
                        <button class="verify-form-btn">
                            Gửi
                        </button>
                    </div>
                </div>

                <!-- <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div> -->

                <div class="flex-col-c">
                    <span class="txt1">
                        Đã có tài khoản
                    </span>

                    <a href="" class="txt2">
                        Đăng Nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
