<div class="wrapper">
    <div class="slideshows">
        <div class="slideshow slideshow--hero">
            <div class="slides">
                <div class="slide slide1"></div>
                <div class="slide slide2"></div>
                <div class="slide slide3"></div>
            </div>
        </div>
        <div class="slideshow slideshow--contrast slideshow--contrast--before">
            <div class="slides">
                <div class="slide slide1"></div>
                <div class="slide slide2"></div>
                <div class="slide slide3"></div>
            </div>
        </div>
        <div class="slideshow slideshow--contrast slideshow--contrast--after">
            <div class="slides">
                <div class="slide slide1"></div>
                <div class="slide slide2"></div>
                <div class="slide slide3"></div>
            </div>
        </div>
    </div>
</div>
<div class="support-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-plane"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>FREE SHIP</h2>
                        <p>Đơn Hàng Từ 100.000Đ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fas fa-truck"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>GIAO HÀNG CỰC NHANH</h2>
                        <p>Tránh Mất Bữa Ăn</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fas fa-phone"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>HỖ TRỢ 24/7</h2>
                        <p>Hỗ Trợ Online</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 hidden-sm col-xs-12">
                <div class="single-support">
                    <div class="sigle-support-icon">
                        <p><i class="fa fa-umbrella"></i></p>
                    </div>
                    <div class="sigle-support-content">
                        <h2>ƯU ĐÃI ĐẶC BIỆT</h2>
                        <p>Vào Những Khung Giờ Đặc Biệt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-product-day></app-product-day>
<div class="title-load">
    <h1>Cơm Mẹ Nấu</h1>
</div>
