<div class="total-cart">
    <h1>TỔNG GIỎ HÀNG</h1>
    <hr />
    <div class="items-total-cart">
        <div class="temporary-money">
            <h5 class="text-left">Tạm thu</h5>
            <h5 class="text-right">{{getTotal() | currency: "VND":"symbol"}}</h5>
        </div>
        <div class="discount">
            <h5 class="text-left">Giảm giá</h5>
            <h5 class="text-right">{{getDiscount() | currency: "VND":"symbol"}}</h5>
        </div>
        <hr />
        <div class="total-money">
            <h5 class="text-left">Tổng Cộng</h5>
            <h5 class="text-right">{{ getTotalAll() | currency: "VND":"symbol"}}</h5>
        </div>
    </div>
</div>
<div class="coupon-cart">
    <h1>PHIẾU ƯU ĐÃI</h1>
    <hr />
    <div class="items-coupon">
        <input type="text" placeholder="Mã ưu đãi" [(ngModel)]="nameVoucher" />
        <p class="checkvoucher" *ngIf="getCheckMessage()">{{getMessage()}}</p>
        <button (click)="applyVoucher(nameVoucher)" class="btn btn-light">ÁP DỤNG MÃ</button>
    </div>
</div>
