
hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
}

h5 {
    width: fit-content;
    font-size: 15px;
    font-weight: 500;
}

input {
    width: 35px;
    height: 20px;
}

hr {
    background-color: black;
}
h1{
    font-size: 18px;
    font-weight: 650;
    color: #2b82ad;
}

.cart-right {
    margin-right: 130px;
}
.header-title {
    margin-bottom: 0;
    font-size: 20px;
    color: #2b82ad;
    font-weight: 500;
}

.total-cart__list {
    list-style: none;
    padding-left: 0;
    .total-cart__item {
        display: flex;
        justify-content: space-between;
    }
}

.coupon-cart {
    .coupon-code{
        width: 100%;
        height: 30px;
        text-align: center;
        color: black;
        font-size: 14px;
        font-weight: bolder;
        font-weight: 500;
        border: 2px solid #000;
    }
    .coupon-validate {
        font-size: 14px;
        color: red;
        width: 300px;
        margin-bottom: 0;
    }
    .coupon-submit {
        width: 100%;
        color: #fff;
        border-radius: 3px;
        border: none;
        padding: 5px 12px;
        font-weight: 500;
        background-color: #000;
        margin-top: 10px;
        font-size: 14px;
    }
    .coupon-submit:hover {
        opacity: 0.9;
        
    }
        
}
@media only screen and (max-width: 1023px){
   .cart-right {
    margin-right: 0;
   }
}
// moblie
@media only screen and (max-width: 770px){
}
//tablet
@media only screen and (min-width: 770px ) and (max-width: 1023px){
    
    
}