<div class="total-cart">
    <h1>TỔNG GIỎ HÀNG</h1>
    <hr>
    <div class="items-total-cart">
        <div class="temporary-money">
            <h5 class="text-left">Tạm thu</h5>
            <h5 class="text-right">146000</h5>
        </div>
        <div class="discount">
            <h5 class="text-left">Giảm giá</h5>
            <h5 class="text-right">10000</h5>
        </div>
        <hr>
        <div class="total-money">
            <h5 class="text-left">TỔNG CỘNG</h5>
            <h5 class="text-right">126000</h5>
        </div>
    </div>
    <button class="btn-order"><a routerLink="/thanhtoan"> TIẾN HÀNH ĐẶT HÀNG</a></button>
    
</div>
<div class="coupon-cart">
    <h1>PHIẾU ƯU ĐÃI</h1>
    <hr>
    <div class="items-coupon">
        <input type="text" placeholder="Mã ưu đãi">
        <button type="submit" class="btn btn-light">ÁP DỤNG MÃ</button>
    </div>
</div>