<div class="bag-user mt-5 container-fluid" [ngClass]="{ 'close' : checkCart == true}">
    <div class="header-cart">
        <p class="food-bag col-12">Túi Đồ Ăn</p>
    </div>

    <div class="scroll">
        <div class="item-cart " *ngFor="let i of items">
            <img src="{{ i.img }}" alt="" />
            <div class="item-food row">
                <p class="item-food__name">{{ i.name }}</p>
                <p>
                    <label for="">{{ i.quatity }}</label>
                </p>
                <p>
                    <label for="">{{ i.price * i.quatity| currency: "VND":true  }} </label>
                </p>
            </div>
        </div>
    </div>
    <div class="sub-total">
        <p>Tổng Tiền</p>
        <p>{{ getTotal() | currency: "VND":true }}</p>
    </div>
    <div>
        <a routerLink="/giohang"> <button (click)="closeCart()">XEM CHI TIẾT TÚI</button></a>
    </div>
    <a routerLink="/thanhtoan"><button class="bag-button" (click)="closeCart()" >THANH TOÁN</button></a>

</div>