<div class="bag-user mt-5 container-fluid" [ngClass]="{ 'close' : checkCart == true}">
    <div class="header-cart">
        <p class="food-bag col-12">Túi Đồ Ăn</p>
    </div>

    <div class="scroll">
        <div class="item-cart " *ngFor="let i of items">
            <img src="{{ i.img }}" alt="" />
            <div class="item-food">
                <span class="item-food__name">{{ i.name }}</span>
                <span class="item-food__quantity" for="">{{ i.quantity }}</span>
                <span class="item-food__curency" for="">{{ i.price * i.quantity| currency: "VND":true }} </span>
            </div>
        </div>
    </div>
    <div class="sub-total">
        <p class="sub-total__name">Tổng tiền:</p>
        <p class="sub-total__value">{{ getTotal() | currency: "VND":true }}</p>
    </div>
    <div class="popupBtn-list">
        <a class="popupBtn__viewCart popupBtn" (click)="closeCart()" routerLink="/giohang">CHI TIẾT GIỎ HÀNG</a>
        <a class="popupBtn__checkOut popupBtn" (click)="closeCart()" routerLink="/thanhtoan">THANH TOÁN</a>
    </div>


</div>
