<section class="contact spad">
    <div class="container">
        <h4 class="main-title">LIÊN HỆ</h4>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="fas fa-phone"></i>
                    <h4>Điện Thoại</h4>
                    <p>037-763-8766</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="fas fa-map-marker-check"></i>
                    <h4>Địa Chỉ</h4>
                    <p>23 Nguyễn Trãi, Quận 1,TPHCM.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="far fa-clock"></i>
                    <h4>Thời Gian Mở Cửa</h4>
                    <p>09:00am to 15:00 pm</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <i class="far fa-envelope-open-text"></i>
                    <h4>Email</h4>
                    <p>commenau@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5283107133982!2d106.69066421462247!3d10.770789392325362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3c3405fd89%3A0x74db2a474aa4409a!2zMjMgTmd1eeG7hW4gVHLDo2ksIFBoxrDhu51uZyBQaOG6oW0gTmfFqSBMw6NvLCBRdeG6rW4gMSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1623466215228!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="map-inside">
        <i class="far fa-map-marker-check"></i>
        <div class="inside-widget">
            <h4>Hồ Chí Minh</h4>
            <ul>
                <li>Điện Thoại: 037-763-8766.</li>
                <li>Địa Chỉ: 23 Nguyễn Trãi, Quận 1,TPHCM.</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Liên Hệ</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tên của bạn">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder=" Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Tin nhắn của bạn"></textarea>
                    <button type="submit" class="site-btn">GỬI TIN NHẮN</button>
                </div>
            </div>
        </form>
    </div>
</div>
