a {
  text-decoration: none;
  font-size: 15px;
}
h5 {
  width: fit-content;
}

input {
  width: 35px;
  height: 20px;
}
hr {
  background-color: black;
}
td {
  font-size: 15px;
  line-height: 50px;
}
.quantity {
  height: 20px;
  line-height: 0px;
  padding-top: 22px;
  input {
    border: none;
    background-color: #f5f5f5;
    width: 50px;
    height: 20px;
    text-align: center;
  }
  button {
    height: 20px;
  }
}
.delete {
  padding-top: 22px;
}
.total {
  font-weight: 600;
  line-height: 50px;
}
.price {
  line-height: 50px;
}
.emty_items {
  font-size: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.product-name {
  img {
    float: left;
  }
  h5 {
    float: left;
    padding-left: 10px;
    line-height: 50px;
  }
  .reponsive{
    display: none;
  }
}
.shoping__cart__btns {
  button {
    border-radius: 5px;
  }
  .btn-light {
    background: white;
    border: #000000 solid 2px;
    margin-left: 20px;
    a {
      color: #000000;
      font-weight: bolder;
    }
  }
  .btn-dark {
    background: #000000;
    border: #000000 solid 2px;
    float: right;
    margin-right: 20px;
    a {
      color: #ffffff;
      font-weight: bolder;
    }
  }
}
//tablet and moblie
@media only screen and (max-width: 63.9375em){
  .row{
    display: none;
  }
}
// moblie
@media only screen and (max-width: 46.1875em){
  .product-name{
    width: 100%;
    display: flexbox;
    h5{
      font-size: 15px;
      width: 100%;
      line-height: 22px;
      padding-left: 0px;
      margin-bottom: 0;
      font-weight: 0;
    }
    img{
      height: 60px;
      width: 60px;
    }
    .reponsive{
      width: 100%;
      display: block;
      padding-left: 5px;
      .title{
        color: #23536b;
      }
      
    }
    .mobile_reponsive{
      display: none;
    }
  }
  .price_table{
    display: none;
  }
  .quantity{
    .hihi{
      display: flex;
    }
  }
}
//tablet
@media only screen and (min-width: 46.25em ) and (max-width: 63.9375em){
    
    
}
