<div *ngIf="items.length == 0" class="empty-cart" style="display: flex;">
    <img src="assets/img/empty-cart.png" alt="" style="width:'300px'; margin: auto;">
</div>
<table class="table" *ngIf="items.length > 0">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="title-table">SẢN PHẨM</th>
            <th scope="col" class="title-table price_table">GIÁ</th>
            <th scope="col" class="title-table">SỐ LƯỢNG</th>
            <th scope="col" class="title-table">TỔNG TIỀN</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let item of items">
            <th class="delete">
                <button (click)="removeItem(item.id)">x</button>
            </th>
            <td class="product-name">
                <img src="{{ item.img }}" alt="" style="height: 50px; width: 50px" />
                <div class="reponsive">
                    <h5 class="reponsive__name">{{ item.name }}</h5>
                    <h5 class="title">{{item.price}}</h5>
                </div>
                <h5 class="mobile_reponsive">{{ item.name }}</h5>

            </td>
            <td class="price price_table">{{ item.price | currency: "VND":"symbol" }}</td>
            <td class="quantity">
                <div class="hihi">
                    <button (click)="increaseQuantity(item.id)">+</button>
                    <input type="text" value="{{ item.quantity }}" disabled/>
                    <button (click)="reduceQuantity(item.id)">-</button>
                </div>

            </td>
            <td class="total">{{ item.price * item.quantity | currency: "VND":"symbol" }}</td>
        </tr>
    </tbody>
</table>
<div class="footer-list-btn">
    <a class="countinue-order-btn" routerLink="/menu">TIẾP TỤC ĐẶT HÀNG</a>
    <a *ngIf="!checkTotal()" class="checkout-btn--disible">THANH TOÁN</a>
    <a *ngIf="checkTotal()" routerLink="/thanhtoan" class="checkout-btn">THANH TOÁN</a>
 
</div>
