<div id="container">
  <div class="container-login">
    <div class="wrap-login">
      <form class="login-form validate-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <span class="login-form-title"> Đăng Nhập </span>

        <div
          class="wrap-input validate-input"
          data-validate="Username is required"
        >
          <span class="label-input">Số điện thoại</span> 
          
          
          <input
            class="input1"
            type="text"
            name="username"
            formControlName="username"
            [ngClass]="{ 'is-invalid': f.username.invalid&&f.username.touched }"
           
            placeholder="Nhập số điện thoại của bạn"
            
            
          />
          
          <div class="focus-input">
            <div id="ic1">
              <i class="fas fa-user"></i>
            </div>
          </div>
          
          <div class="invalid-feedback">
            Vui lòng nhập số điện thoại
          </div>
        </div>
        

        <div
          class="wrap-input validate-input"
          data-validate="Password is required"
        >
          <span class="label-input">Mật khẩu</span>
          <input
            class="input1"
            type="password"
            name="pass"
            formControlName="password"
            [ngClass]="{ 'is-invalid': f.password.invalid&&f.password.touched }"
            placeholder="Nhập mật khẩu của bạn"
           
          />
          <div class="focus-input">
            <div id="ic2">
              <i class="fas fa-lock"></i>
            </div>
          </div>
          <div class="invalid-feedback">
            Vui lòng nhập mật khẩu
          </div>
        </div>

        <div class="text-right">
          <a routerLink="/quenmatkhau"> Quên mật khẩu? </a>
        </div>

        <div class="container-login-form-btn">
          <div class="wrap-login-form-btn">
            <div class="login-form-bgbtn"></div>
            <button class="login-form-btn" [disabled]="f.valid">Đăng nhập</button>
          </div>
        </div>

        <!-- <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div> -->

        <div class="flex-col-c">
          <span class="txt1"> Chưa có tài khoản </span>

          <a routerLink="/dangky" class="txt2"> Đăng Kí </a>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
