<form (ngSubmit)="changePassword()" [formGroup]="passwordForm" >
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="displayAlert">
        <strong><p>Đổi mật khẩu thành công</p></strong>
        <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="change-item">
        <p class="lable-change">Mật khẩu hiện tại:</p>
        <input type="password" class="input-change" formControlName="currentPassword"
        [ngClass]="{'is-invalid' : passwordForm.controls.currentPassword.invalid && passwordForm.controls.currentPassword.touched}">
        <div class="invalid-feedback">
            Mật khẩu hiện tại không đúng vui lòng nhập lại mật khẩu hiện tại.
        </div>
    </div>

    <div class="change-item">
        <p class="lable-change">Mật khẩu mới:</p>
        <input type="password" class="input-change" formControlName="changePasword"
        [ngClass]="{'is-invalid' : passwordForm.controls.changePasword.invalid && passwordForm.controls.changePasword.touched}">
        <div class="invalid-feedback">
            Mật khẩu mới phải từ 6 ký tự trở lên.
        </div>
    </div>

    <div class="change-item">
        <p class="lable-change">Xác nhận mật khẩu:</p>
        <input type="password" class="input-change" formControlName="rePassword"
        [ngClass]="{'is-invalid' : passwordForm.controls.rePassword.invalid && passwordForm.controls.rePassword.touched}">
        <div class="invalid-feedback">
            Mật khẩu xác nhận chưa chính xác vui lòng nhập lại.
        </div>
    </div>

    <button class="confirm-btn" [disabled]="!passwordForm.valid" >XÁC NHẬN</button>
</form>
