button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #2b82ad;
    color: white;
    border-radius: 5px;
}
.change-item{
    margin-bottom: 20px;
    .invalid-feedback{
        margin-left: 30%;
    }
    .lable-change{
        width: 40%;
        float: left;
        color: #757575;
        text-transform: capitalize;
        text-align: right;
        padding-right: 20px;
        line-height: 44px;
        font-size: 18px;

    }
    .input-change{
        width: 60%;
        padding: 10px;
    }

}
.confirm-btn{
    margin-left: 40%;
    padding: 10px 20px;
    display: inline-block;
    width: auto;
    height: auto;
}
.alert{
    padding: 0 0;
    line-height: 31px;
    margin-left: 40%;
    p{
        margin-bottom: 0;
        padding-left: 10px;
    }
    .btn-close{
        padding: 0;
        background-color: #d1e7dd;
        width: 58px;
    }
}

@media only screen and (max-width: 1023px){
    .alert{
        width: 100%;
        margin-left: 0;
    }
    .change-item{
        .invalid-feedback{
            margin-left: 0;
        }
        .lable-change{
            width: 100%;
            text-align: left;
            margin-bottom: 0;
        }
        .input-change{
            width: 100%;
        }
        
    }
    .confirm-btn{
        margin-left: 0;
    }              
}
@media only screen and (max-width: 739px){
    .confirm-btn{
        width: 100%;
    }
}
@media only screen and (min-width: 739px ) and (max-width: 1023px){
    
}