button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #2b82ad;
    color: white;
    border-radius: 3px;
}
.change-item{
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    .lable-change{
        color: #000;
        padding-right: 20px;
        margin-bottom: 0;
        width: 200px;
        font-size: 14px;
        font-weight: 600;
        margin-top: 8px;
    }
    .wrap{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        .input-change{
            padding: 6px 16px;
            flex: 1;
        }
        .invalid-feedback{
            font-size: 14px;
        }
        .is-invalid{
            border: red 2px solid;
        }
    }

}
.confirm-btn{
    margin-left: 40%;
    padding: 10px 20px;
    display: inline-block;
    width: auto;
    height: auto;
}
.confirm-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}
.confirm-btn-disible{
    background-color: #ccc;
    color: #666;
    cursor: text;
}
.alert{
    padding: 0 0;
    line-height: 31px;
    margin-left: 40%;
    p{
        margin-bottom: 0;
        padding-left: 10px;
    }
    .btn-close{
        padding: 0;
        background-color: #d1e7dd;
        width: 58px;
    }
}

@media only screen and (max-width: 1023px){
    .alert{
        width: 100%;
        margin-left: 0;
    }
    .change-item{
        .invalid-feedback{
            margin-left: 0;
        }
        .lable-change{
            width: 100%;
            text-align: left;
            margin-bottom: 0;
        }
        .input-change{
            width: 100%;
        }
        
    }
    .confirm-btn{
        margin-left: 0;
    } 
                 
}
@media only screen and (max-width: 739px){
    .confirm-btn{
        width: 100%;
    }
    .confirm-btn-disible{
        width: 100%;
    }
}
@media only screen and (min-width: 739px ) and (max-width: 1023px){
    
}