<div>
  <div class="footer-header">
    <div class="footer-vip">
      <h5>Công Ty</h5>
      <p>Commenau Services</p>
      <p>Booking Commenau</p>
    </div>
    <div class="footer-vip">
      <h5>Hỗ Trợ</h5>
      <p>Liên hệ chúng tôi</p>
      <p>Giao hàng toàn TPHCM</p>
      <p>Xử lý thanh toán</p>
      <p>Tìm kiếm commenau ở đâu?</p>
      <p>Địa chỉ</p>
    </div>
    <div class="footer-vip">
      <h5>Công ty</h5>
      <p>Liên Hệ Commenau</p>
      <p>Commnau xanh sạch</p>
      <p>Hợp đồng tương lai</p>
      <p>Commenau cơm trưa sài gòn</p>
      <p>Commenau vip</p>
    </div>
    <div class="footer-vip">
      <h5>Tìm chúng tôi trên</h5>
      <a href="">
        <p><i class="fab fa-facebook-f"></i>Facebook</p></a
      >
      <a href="">
        <p><i class="fab fa-twitter"></i>Twitter</p></a
      >
      <a href="">
        <p><i class="fab fa-instagram"></i>Instagram</p></a
      >
      <a href="">
        <p><i class="fab fa-youtube"></i>Youtube</p></a
      >
      <a href="">
        <p><i class="fab fa-snapchat-ghost"></i>Snapchat</p></a
      >
    </div>
  </div>
  <div class="footer-under">
    <p>
      © 2016 - 2020 Commenauo Commenau S.p.A. - All rights reserved. SIAE
      LICENCE # 2294/I/1936 and 5647/I/1936
    </p>
  </div>
</div>
