<!-- <div class="footer-1">
  <div>
    <h5>NHÀ HÀNG CƠM MẸ NẤU</h5>
    <p>Địa chỉ: Đại học Nông Lâm, TP Thủ Đức</p>
    <p>Hotline: 039.686.5700</p>
    <p>Email: commenau@st.hcmuaf.edu.vn</p>
  </div>
  <div>
    <h5>Thanh Toán</h5>
  </div>
</div> -->
<div>
    <div class="footer-header">
        <div class="footer-vip">
            <h5>Công Ty</h5>
            <p>Commenau Services</p>
            <p>Booking Commenau</p>
        </div>
        <div class="footer-vip">
            <h5>Hỗ Trợ</h5>
            <p>Liên hệ chúng tôi</p>
            <p>Giao hàng toàn TPHCM</p>
            <p>Xử lý thanh toán</p>
            <p>Tìm kiếm commenau ở đâu?</p>
            <p>Địa chỉ</p>
        </div>
        <div class="footer-vip">
            <h5>Liên Hệ

            </h5>

            <a href="">
                <p>
                    <i class="fas fa-phone"></i
          >0123.456.789
        </p></a
      >
      <a href="">
        <p>
          <i class="fas fa-envelope" ></i
          >group14@hacker.com
        </p></a
      >
      <a href="">
        <p>
          <i class="fas fa-map-marked-alt" ></i
          >KP 6, Linh Trung, TP Thủ Đức
        </p></a
      >
    </div>
    <div class="footer-vip">
      <h5>Tìm chúng tôi trên</h5>
      <a href="">
        <p><i class="fab fa-facebook-f"></i>Facebook</p>
            </a>
            <a href="">
                <p><i class="fab fa-twitter"></i>Twitter</p>
            </a>
            <a href="">
                <p><i class="fab fa-instagram"></i>Instagram</p>
            </a>
            <a href="">
                <p><i class="fab fa-youtube"></i>Youtube</p>
            </a>
            <a href="">
                <p><i class="fab fa-snapchat-ghost"></i>Snapchat</p>
            </a>
        </div>
    </div>
    <div class="footer-under">
        <p>
            © 2016 - 2020 Commenauo Commenau S.p.A. - All rights reserved. SIAE LICENCE # 2294/I/1936 and 5647/I/1936
        </p>
    </div>
</div>