$blue: #23536b;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.footer-vip {
    background-color: $blue;
    .footer-header {
        display: flex;
        justify-content: space-around;
        // padding: 20px 0;
        color: $gray;
        width: 100%;
        padding-top: 20px;
        .footer-vip {
            padding-bottom: 20px;
            p {
                font-size: 15px;
                color: gray;
            }
            h5 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.35rem;
                color: $gray;
                padding-bottom: 15px;
                width: 300px;
            }
            a {
                color: gray;
                text-decoration: none;
                p {
                    font-size: 15px;
                    i {
                        color: $gray;
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .footer-under {
        width: 100%;
        background-color: $black;
        color: gray;
        padding: 10px 0;
        font-size: 10px;
    }
}
