* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #2b82ad;
    color: white;
    border-radius: 5px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

.container {
    margin: auto;
    margin-bottom: 100px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    .main-title {
        color: #2b82ad;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
    }
    .customer-body{
        display: flex;
        .customer-left {
            padding-right: 10px;
            .customer-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .customer-info__name{
                    font-size: 20px;
                    font-weight: 550;
                    flex: 1;
                    text-align: center;
                }
            }
            .customer-menu__list{
                margin-top: 10px;
                .customer-menu__item{
                    margin-bottom: 5px;
                    cursor: pointer;
                    .customer-menu__wrap{
                        display: flex;
                        align-items: center;
                        .customer-menu__icon{
                            width: 25px;
                            font-size: 16px;
                        }
                        .customer-menu__label{
                            font-size: 14px;
                            flex: 1;
                        }
                    }
                    .customer-detail__list {
                        margin-left: 40px;
                        font-size: 14px;
                    }
                }
            }
        }
        .customer-right {
            border: 2px solid gray;
            background-color: #ededed;
            padding: 30px;
            flex: 1;
            .content {
                width: 100%;
            }
        }
        .order-history {
            flex: 1;
        }
        .whislist {
            flex: 1;
        }
    }
    
}
@media only screen and (max-width: 1023px){
    
}
// moblie
@media only screen and (max-width: 770px){
    .container{
        .customer-body{
            flex-direction: column;
            .customer-left{
                width: 100%;
                .customer-menu__list{
                    padding-left: 65px;
                }
                
            }
            .customer-right{
                width: 100%;
                padding: 10px;
                margin: 10px auto 0 ;
                
            }
            .order-history{
                width: 100%;
                margin-top: 10px;
                padding:0;
            }
            .whislist {
                width: 100%;
                margin-top: 10px;
            }

        }
        
    }
}
//tablet
@media only screen and (min-width: 770px ) and (max-width: 1023px){
    .container{
        .customer-left{
            .inline{
                padding-left: 20%;
            }
        }
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}