<div class="container">
    <div class="row">
        <h1 class="main-title">THÔNG TIN KHÁCH HÀNG</h1>
        <div class="customer-left">
            <div class="avatar-name">
                <img src="https://i.pinimg.com/originals/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.png" alt="">
                <p>{{user.name}}</p>
            </div>
            <ul>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <p>Cập nhật tài khoản</p>
                </li>
                <div class="inline">
                    <p><a href="">Hồ sơ</a></p>
                    <p><a href="">Đổi mật khẩu</a> </p>
                </div>
    
                <li>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <p>Thông tin đơn hàng</p>
                </li>
            </ul>
        </div>
        <div class="customer-right">
            <div class="content">
                <div class="content-left">
                    <div class="name-customer">
                        <p>Họ tên:</p>
                        <input type="text" value="{{user.name}}">
                    </div>
                    <div class="sex-customer">
                        <p>Giới tính:</p>
                        <div>
                            <label for="nam"><input type="radio" id="Nam" value="Nam" name="gioitinh" checked>Nam</label>
                            <label for="nu"><input type="radio" id="nu" value="nu" name="gioitinh">Nữ</label>
                            <label for="khac"><input type="radio" id="khac" value="khac" name="gioitinh">Khác</label>
                        </div>
                    </div>
                    <div class="email-customer">
                        <p>Email:</p>
                        <input type="text" value="{{user.email}}">
                    </div>
                    <div class="address-customer">
                        <p>Địa chỉ:</p>
                        <input type="text" value="{{user.address}}">
                    </div>
                    <div class="phone-customer">
                        <p>Số điện thoại:</p>
                        <p>{{user.phone}}</p>
                        <a href="">Thay đổi</a>
                    </div>
                    <button>Lưu</button>
                </div>
                <div class="content-right">
                    <div class="avatar-change">
                        <img src="https://i.pinimg.com/originals/d5/b0/4c/d5b04cc3dcd8c17702549ebc5f1acf1a.png" alt="">
                    </div>
                    <button>Chọn ảnh</button>
                </div>
            </div>
        </div>

    </div>
    
    
    

</div>