<div class="container">
    <div class="row">
        <h1 class="main-title">THÔNG TIN KHÁCH HÀNG</h1>
        <div class="customer-left">
            <div class="avatar-name">
                <img src="{{user.urlImg}}" alt="">
                <p>{{user.name}}</p>
            </div>
            <ul>
                <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <p>Cập nhật tài khoản</p>
                </li>
                <div class="inline">
                    <p class="inline-item" (click)="displayAccount()" [ngStyle]="{color: isAccount ? '#2b82ad' : 'black'}"> Hồ sơ </p>
                    <p class="inline-item" (click)="displayPassword()" [ngStyle]="{color: isPassword ? '#2b82ad' : 'black'}">Đổi mật khẩu</p>
                </div>
    
                <li>
                    <i class="fa fa-shopping-cart" aria-hidden="true" [ngStyle]="{color: isOrder ? '#2b82ad' : 'black'}"></i>
                    <p (click)="displayOrder()" [ngStyle]="{color: isOrder ? '#2b82ad' : 'black'}">Thông tin đơn hàng</p>
                </li>
            </ul>
        </div>
        <div *ngIf="!isOrder" class="customer-right">
            <div *ngIf="isAccount" class="content">
                <app-account-customer></app-account-customer>
            </div>

            <div *ngIf="isPassword" class="change-password">
                <app-password-customer></app-password-customer>
            </div>

        </div>
        <div *ngIf="isOrder" class="order-history">
            <app-order-customer></app-order-customer>
        </div>

    </div>
    
    
    

</div>