<div class="breadcurb-area">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Trang</a></li>
            <li>Trang 404</li>
        </ul>
    </div>
</div>
<div class="not-found-area fix">
    <div class="container">
        <div class="not-found">
            <h1>Ồ ồ! Có vẻ như đã xảy ra sự cố</h1>
            <img src="assets/img/404.png" alt="404">
            <h2>Không thể tìm thấy trang</h2>
            <p>Xin lỗi nhưng chúng tôi không thể tìm thấy trang bạn đang tìm kiếm. Vui lòng kiểm tra để đảm bảo bạn đã nhập đúng URL. Bạn cũng có thể muốn tìm kiếm những gì bạn đang tìm kiếm.</p>
            <a href="#">Trở về trang chủ</a>
        </div>
    </div>
</div>
