<section class="wishlist spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="wishlist__product">Sản phẩm</th>
                                <th>Chi tiết</th>
                                <th>Thêm giỏ Hàng</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listWish.length>0">

                            <tr *ngFor="let i of listWish">

                                <td class="wishlist__item">
                                    <div class="wishlist__wrap">
                                        <img src="{{i.img}}" alt="">
                                        <div class="wishlist__info">
                                            <h5>{{i.name}}</h5>
                                            <span class="wishlist__price">{{i.price }}</span>

                                        </div>
                                    </div>
                                    
                                </td>
                                <td class="footer__widget">
                                    <div class="footer__widget__social">
                                        <a [routerLink]="['/chitietsanpham', i.id]"><i class="fa fa-external-link"></i></a>
                                    </div>
                                </td>

                                <td *ngIf="getCheckDay(i.weekdays);then addcart; else noAddCart" >
                                </td>
                                <ng-template #addcart>
                                    <td class="footer__widget">
                                    <div class="footer__widget__social">
                                        <a (click)="addToCart(i)"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </td>
                                </ng-template>
                                <ng-template #noAddCart>
                                    <td class="footer__widget">
                                        <div class="footer__widget__social__non">
                                            <a><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </td>
                                </ng-template>
                                    
                                
                                <td class="footer__widget">
                                    <div class="footer__widget__social">
                                        <a (click)="removeItem(i)"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>


                        </tbody>
                        <tbody *ngIf="listWish.length==0">
                            <tr>
                                <td class="emty_items" colspan="5">Chưa có sản phẩm trong danh sách yêu thích</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>