<h1>ĐƠN HÀNG CỦA BẠN</h1>
<hr>
<table>
    <thead>
        <tr>
            <th>
                <h5>Sản phẩm</h5>
            </th>
            <th></th>
            <th class="right">
                <h5>Tổng</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of items">
            <th>{{i.name}}</th>
            <th>x<span>{{i.quatity}}</span></th>
            <th class="right">{{i.price}} đ</th>
        </tr>
        
    </tbody>
</table>
<hr>
<div class="discount-checkout">
    <h5>Giảm giá</h5>
    <p>{{getDisCount()}} đ</p>
</div>
<div class="total-checkout">
    <h5>Tổng cộng</h5>
    <p>{{getAllTotal()}} đ</p>
</div>
<div class="btn-checkout">
    <button>ĐẶT HÀNG</button>
</div>