$blue: #23536b;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.about-us {
  height: 100%;
  a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #777;
  }
 
  .background-about {
    background-image: url(/assets/img/about/about.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .line {
      position: relative;
      //   left: 40%;
      padding-left: 40%;
      top: 10em;
      h5 {
        margin: auto;
        font-size: 60px;
        color: $white;
        font-weight: 500;
      }
      p {
        padding: 20px;
        margin: auto;
        font-size: 20px;
        color: $white;
        position: relative;
        right: 10em;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
  .write-content {
    width: 100%;
    div {
      h5 {
        margin-top: 20px;
        font-size: 50px;
        margin-left: 42%;
      }
      p {
        font-size: 20px;
        padding: 10px 200px;
      }
      :nth-child(2) {
        color: black;
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }
  }
  .customer {
    .customer-brand {
      font-size: 5rem;
      margin-left: 40%;
    }
    padding: 20px 130px;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      height: 400px;
      li {
        margin: 20px 80px;

        img {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          transition: all 0.5s;
        }
        img:hover{
          border-radius: 20%;
          width: 300px;
          height: 300px;
        }
        h5 {
          margin-top: 20px;
          font-size: 20px;
        }
        p {
          margin-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
}
