<div class="about-us">
    <app-breakcumb-about></app-breakcumb-about>
    <div class="background-about">
        <div class="container">
            <div class="row line text-center">
                <h5 class="col-sm-12 col-lg-12 col-md-12 mt-5">Về Chúng Tôi</h5>
                <p class="col-sm-12 col-lg-12 col-md-12">Đội ngũ nấu cơm ngon nhất sài gòn với dịch vụ giao hàng nhanh</p>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="row">
        <div class="wrap__content col-lg-5">
            <img src="assets/img/parcelli.png" alt="" class="wrap__img">
            <div class="wrap__title">
                <h3>ĐÔI NÉT VỀ CƠM MẸ NẤU</h3>

            </div>
            <div class="wrap__content__one">
                <P>Cơm trưa ngon như NHÀ NẤU với đầy đủ chất dinh dưỡng. Mọi thứ từ nguyên liệu, gia vị cho đến đóng gói được Bếp chăm chút rất kỹ. Chúng tôi luôn:</P>

            </div>
            <div class="wrap__content__two">
                <div class="content__flex"><i class="fas fa-check"></i><p>Sử dụng hộp giấy thân thiện môi trường</p></div>
                <div class="content__flex"><i class="fas fa-check"></i><p>Toàn bộ món ăn được dùng nước qua máy lọc chất lượng</p></div>
                <div class="content__flex"><i class="fas fa-check"></i><p>Luôn ưu tiên nguyên liệu thiên nhiên và 'homemade</p></div>
                <div class="content__flex"><i class="fas fa-check"></i><p>Nguồn gốc rõ ràng</p></div>
                <div class="content__flex"><i class="fas fa-check"></i><p>Hoàn toàn không dùng hóa chất, phẩm màu</p></div>
                <div class="content__flex"><i class="fas fa-check"></i><p>Tuân thủ vệ sinh an toàn thực phẩm
                </p></div>

            </div>
            <div class="wrap__content__three">
                <p>Chọn CƠM MẸ NẤU cho bữa trưa chất lượng và an toàn. Đừng quên like fanpage và share cho bạn bè nữa nhé.</p>

            </div>

        </div>
        <div class="img__one col-lg-3">
            <img class="img1"src="assets/img/img-1.jpg" alt="">

        </div>
        <div class="img__two col-lg-3">
            <img class="img2" src="assets/img/img-2.jpg" alt="">
            <img class="img3" src="assets/img/img-3.jpg" alt="">
        </div>
    </div>
    </section>
    <section class="container ss2">
        <div class="row">
            <div class="img__ss2 col-lg-6">
                <img class="img4" src="assets/img/3_2.jpg" alt="">
            </div>
            <div class="content__2 col-lg-6">
                <div class="content__2_tiltle">
                    <img src="assets/img/parcelli.png" alt="" class="" style="background-color: white;">
                    <h2>Tầm nhìn, sứ mệnh, giá trị cốt lõi</h2>

                </div>
                <div class="content__2__content">
                    <p><b>Tầm nhìn:</b> Trở thành thương hiệu chuyên cung cấp cơm trưa văn phòng hàng đầu TP. Hồ Chí Minh. </p>
                    <p><b>Sứ mệnh:</b> Nâng cao chất lượng thực phẩm, chất lượng cuộc sống của người Việt.</p>
                    <p><b>Giá trị cốt lõi:</b> Với phương châm “NGON - SẠCH - AN TOÀN CHẤT LƯỢNG”</p>
                    <div class="content__2__flex">
                        <i class="fas fa-star"></i>
                        <p>NGON: là yếu tố quan trọng bậc nhất mà chúng tôi mang đến cho khách hàng. Đầu bếp với nhiều năm kinh nghiệm ẩm thực, chúng tôi mang đến những món cơm NGON, phù hợp với khẩu vị và những dịch vụ TỐT nhất cho khách hàng.</p>
                    </div>
                    <div class="content__2__flex">
                        <i class="fas fa-star"></i>
                        <p>SẠCH: Toàn bộ món ăn đều dùng nước từ máy lọc nước chất lượng. Chúng tôi luôn ưu tiên nguyên liệu thiên nhiên và 'homemade' với nguồn gốc rõ ràng</p>
                    </div>
                    <div class="content__2__flex">
                        <i class="fas fa-star"></i>
                        <p>AN TOÀN CHẤT LƯỢNG: Bếp sử dụng hộp giấy thân thiện môi trường. Chúng tôi cam kết hoàn toàn không dùng hóa chất, phẩm màu, không lạm dụng bột ngọt và tuân thủ vệ sinh an toàn thực phẩm.</p>
                    </div>

                </div>
            </div>

        </div>
        

         </section>
    <div class="write-content container">
        <div class="row">
            <h2 class="col-lg-12 col-md-12 col-sm-12 mt-4 mb-3 text-center">Về công ty</h2>
            <p class="col-lg-12 col-md-12 col-sm-12">
                Cơm Mẹ Nấu khám phá không gian cafe bình yên giữa lòng thành phố sài gòn. Đến với Commenau.com, bạn không cần bận tâm các vấn đề vệ sinh an toàn thực phẩm. Với nguyên tắc “Cái đức đặt lên hàng đầu”, thức ăn từ khâu chọn lọc đến khâu chế biến đều được
                đội ngũ bếp chăm chút kỹ lưỡng!
            </p>
            <p class="col-lg-12 col-md-12 col-sm-12 ">
                Nguồn thực phẩm tươi, sạch Thực phẩm chọn lọc kỹ càng, cam kết không sử dụng các hoá chất nhầm mục đích lợi nhuận. Đặt trưng hương vị miền tây Món ăn chế biến khẩu vị đậm đà, đặc trưng hương vị Miền Tây vừa miệng nhiều thực khách.
            </p>
            <p class="col-lg-12 col-md-12 col-sm-12">
                Thực đơn đổi mới mổi ngày Thực đơn mới mổi ngày, thường xuyên có các món mới lạ, không gây cảm giác gây ngán ăn.
            </p>
        </div>
    </div>
    <div class="customer container">
        <h5 class="customer-brand mb-4 text-center">Thành Viên</h5>
        <div class="">
            <ul class="row text-center">
                <li class="col-lg-4 col-md-6 col-sm-12 ">
                    <img src="/assets/img/about/lam.jpg" alt="" />
                    <h5>Nguyễn Viết Lâm</h5>
                    <p>CEO</p>
                    <div class="team-social social-icon-bg-hvr"><a href="https://www.facebook.com/NVLNguyenVietLam" target="_blank"><i
                        aria-hidden="true" class="fab fa-facebook"></i></a><a
                        href="https://www.instagram.com/" target="_blank"><i aria-hidden="true"
                                                                       class="fab fa-instagram"></i></a><a
                        href="http://youtube.com" target="_blank"><i
                        aria-hidden="true" class="fab fa-youtube"></i></a>
                    </div>
        
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/img/about/huy.jpg" alt="" />
                    <h5>Lê Hữu Huy</h5>
                    <p>CO</p>
                    <div class="team-social social-icon-bg-hvr"><a href="https://www.facebook.com/kun.huy.2902" target="_blank"><i
                        aria-hidden="true" class="fab fa-facebook"></i></a><a
                        href="https://www.instagram.com/lhhuy_2000/" target="_blank"><i aria-hidden="true"
                                                                       class="fab fa-instagram"></i></a><a
                        href="http://youtube.com" target="_blank"><i
                        aria-hidden="true" class="fab fa-youtube"></i></a>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6 col-sm-12">
                    <img src="/assets/img/about/hao.jpg" alt="" />
                    <h5>Lê Văn Hào</h5>
                    <p>CFO</p>
                    <div class="team-social social-icon-bg-hvr"><a href="https://www.facebook.com/haole1411" target="_blank"><i
                        aria-hidden="true" class="fab fa-facebook"></i></a><a
                        href="https://www.instagram.com/hafo___/" target="_blank"><i aria-hidden="true"
                                                                       class="fab fa-instagram"></i></a><a
                        href="http://youtube.com"><i
                        aria-hidden="true" class="fab fa-youtube" target="_blank"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>