.container{
    padding: 0;
    margin: 0;
    margin: auto;
    .title-table{
        font-size: 20px;
    }
    a{
        text-decoration: none;
        font-size: 15px;
    }
    h5{
        width: fit-content;
    }
  
    input{
        width: 35px;
        height: 20px;
    }
    .title-cart{
        width: fit-content;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        color: #3ac5c8 ;
        font-weight: bolder;
        font-size: 30px;
    }
    .list-cart{
        width: 50%;
        float: left;
        td{
            font-size: 15px;
        }
        .shoping__cart__btns{
            
            button{
                border-radius: 5px;
                
            }
            .btn-light{
                background: white;
                border: #000000 solid 2px;
                margin-left: 20px;
                a{
                    color: #000000;
                    font-weight: bolder;
                }
            }
            .btn-dark{
                background: #000000;
                border: #000000 solid 2px;
                float: right;
                margin-right: 20px;
                a{
                    color: #ffffff;
                    font-weight: bolder;
                }
            }
            
        }
    }
    .cart-right{
        float: left;
        width: 40%;
        margin-left: 40px;
        padding-top: 5px;
        border-left: black solid 2px;
        padding-left: 40px;
        hr{
            width: 300px;
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #000000;
            margin: 1em 0;
            padding: 0; 
        }
        .items-total-cart{
            width: 200px;
            height: 100px;
            .temporary-money, .discount, .total-money{
                width: 300px;
                height: 25px;
                .text-left{
                    float: left;
                }
                .text-right{
                    float: right;
                    
                }
            }
            .total-money{
                font-weight: bolder;
            }
            
            
        }
        .btn-order{
            width: 300px;
            height: 30px;
            margin-bottom: 5px;
            background-color: #3ac5c8;
            color: white;
            border: 0px;
            font-weight: bolder;
            border-radius: 20px;
        }
        .coupon-cart{
            .items-coupon{
                width: 400px;
                input, button{
                    width: 300px;
                    height: 30px;
                    margin-top: 10px;
                    text-align: center;
                    color: black;
                    font-size: 10px;
                    font-weight: bolder;
                }
                input{
                    border: #e7e7e7 solid 2px;
                }
                button{
                    border: black solid 2px;
                }
                
            }
        }
        
        

    }

}
