.container {
    padding: 0;
    margin: 0;
    margin: auto;
    margin-bottom: 100px;
    overflow: hidden;
    .title-table {
        font-size: 20px;
    }
    a {
        text-decoration: none;
        font-size: 15px;
    }
    h5 {
        width: fit-content;
    }
    input {
        width: 35px;
        height: 20px;
    }
    hr {
        background-color: black;
    }
    .title-cart {
        color: #2b82ad;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
    }
    .list-cart {
        width: 65%;
        float: left;
        padding-right: 25px;
    }
    .cart-right {
        float: left;
        width: 35%;
        padding-top: 5px;
        border-left: black solid 2px;
        padding-left: 25px;
    }
}
//tablet and moblie
@media only screen and (max-width: 1023px){
    .row{
        flex-direction: column;
        .list-cart{
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }
        .cart-right{
            display: none;
        }

    }
}
// moblie
@media only screen and (max-width: 770px){
    
}
//tablet
@media only screen and (min-width: 770px ) and (max-width: 1023px){
    .row{
        flex-direction: column;
        .list-cart{
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }
        

    }
    
}
