.container {
  padding: 0;
  margin: 0;
  margin: auto;
  margin-bottom: 100px; }
  .container .title-table {
    font-size: 20px; }
  .container a {
    text-decoration: none;
    font-size: 15px; }
  .container h5 {
    width: fit-content; }
  .container input {
    width: 35px;
    height: 20px; }
  .container hr {
    background-color: black; }
  .container .title-cart {
    color: #2b82ad;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600; }
  .container .list-cart {
    width: 70%;
    float: left;
    padding-right: 60px; }
    .container .list-cart td {
      font-size: 15px;
      line-height: 50px; }
    .container .list-cart .quantity {
      height: 20px;
      line-height: 0px;
      padding-top: 22px; }
      .container .list-cart .quantity input {
        border: none;
        background-color: #f5f5f5;
        width: 50px;
        height: 20px;
        text-align: center; }
      .container .list-cart .quantity button {
        height: 20px; }
    .container .list-cart .delete {
      padding-top: 22px; }
    .container .list-cart .total {
      font-weight: 600; }
    .container .list-cart .product-name img {
      float: left; }
    .container .list-cart .product-name h5 {
      float: left;
      padding-left: 10px;
      line-height: 50px; }
    .container .list-cart .shoping__cart__btns button {
      border-radius: 5px; }
    .container .list-cart .shoping__cart__btns .btn-light {
      background: white;
      border: #000000 solid 2px;
      margin-left: 20px; }
      .container .list-cart .shoping__cart__btns .btn-light a {
        color: #000000;
        font-weight: bolder; }
    .container .list-cart .shoping__cart__btns .btn-dark {
      background: #000000;
      border: #000000 solid 2px;
      float: right;
      margin-right: 20px; }
      .container .list-cart .shoping__cart__btns .btn-dark a {
        color: #ffffff;
        font-weight: bolder; }
  .container .cart-right {
    float: left;
    width: 30%;
    padding-top: 5px;
    border-left: black solid 2px;
    padding-left: 40px; }
    .container .cart-right hr {
      width: 300px;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #000000;
      margin: 1em 0;
      padding: 0; }
    .container .cart-right .items-total-cart {
      width: 200px;
      height: 100px; }
      .container .cart-right .items-total-cart .temporary-money, .container .cart-right .items-total-cart .discount, .container .cart-right .items-total-cart .total-money {
        width: 300px;
        height: 25px; }
        .container .cart-right .items-total-cart .temporary-money .text-left, .container .cart-right .items-total-cart .discount .text-left, .container .cart-right .items-total-cart .total-money .text-left {
          float: left; }
        .container .cart-right .items-total-cart .temporary-money .text-right, .container .cart-right .items-total-cart .discount .text-right, .container .cart-right .items-total-cart .total-money .text-right {
          float: right; }
      .container .cart-right .items-total-cart .total-money h5 {
        font-weight: 600;
        font-size: 16px; }
    .container .cart-right .btn-order {
      width: 300px;
      height: 30px;
      margin-bottom: 20px;
      background-color: #2b82ad;
      color: white;
      border: 0px;
      font-weight: bolder;
      border-radius: 20px;
      margin-top: 20px; }
      .container .cart-right .btn-order a {
        color: white; }
      .container .cart-right .btn-order a:hover {
        color: black; }
    .container .cart-right .coupon-cart .items-coupon {
      width: 400px; }
      .container .cart-right .coupon-cart .items-coupon input, .container .cart-right .coupon-cart .items-coupon button {
        width: 300px;
        height: 30px;
        margin-top: 10px;
        text-align: center;
        color: black;
        font-size: 10px;
        font-weight: bolder; }
      .container .cart-right .coupon-cart .items-coupon input {
        border: black solid 2px; }
      .container .cart-right .coupon-cart .items-coupon button {
        border: black solid 2px;
        background-color: #dbdbdb; }
      .container .cart-right .coupon-cart .items-coupon button:hover {
        background-color: black;
        color: white; }

/*# sourceMappingURL=cart.component.css.map */
