<div class="wrapper">
  <div class="slideshows">
    <div class="slideshow slideshow--hero">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--before">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
    <div class="slideshow slideshow--contrast slideshow--contrast--after">
      <div class="slides">
        <div class="slide slide1"></div>
        <div class="slide slide2"></div>
        <div class="slide slide3"></div>
      </div>
    </div>
  </div>
</div>
<div class="support-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-support">
          <div class="sigle-support-icon">
            <p><i class="fa fa-plane"></i></p>
          </div>
          <div class="sigle-support-content">
            <h2>FREE SHIPPING</h2>
            <p>On Ordersover $200</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-support">
          <div class="sigle-support-icon">
            <p><i class="fa fa-dollar"></i></p>
          </div>
          <div class="sigle-support-content">
            <h2>FREE SHIPPING</h2>
            <p>Moneyback guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="single-support">
          <div class="sigle-support-icon">
            <p><i class="fa fa-clock-o"></i></p>
          </div>
          <div class="sigle-support-content">
            <h2>24/7 SUPPORT</h2>
            <p>Online consultations</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 hidden-sm col-xs-12">
        <div class="single-support">
          <div class="sigle-support-icon">
            <p><i class="fa fa-umbrella"></i></p>
          </div>
          <div class="sigle-support-content">
            <h2>SAFE SHOPPING</h2>
            <p>Safe Shopping Guarantee</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-home">
  <div class="title-body">
    <h5>Cơm Mẹ Nấu</h5>
    <p>Cơm Mẹ Nấu Delivery</p>
    <button>Đăng Nhập</button>
    <button>Menu</button>
  </div>
  <div class="title-everyday">
    <div class="container section-title-container" style="margin-bottom: 0px">
      <h5>Cơm Trưa Văn Phòng</h5>
    </div>
    <div class="container">
      <ul class="nav nav-pills nav-uppercase nav-size-large nav-center">
        <li>
          <a href=""> <label for="">Thứ 2 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 3 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 4</label> </a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 5 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Thứ 6 </label></a>
        </li>
        <li>
          <a href=""> <label for="">Thứ 7 </label></a>
        </li>
        <li>
          <a href=""><label for=""> Chủ Nhật </label></a>
        </li>
      </ul>
      <div class="tab-panels">
        <div>
          <img
            src="http://sohanews.sohacdn.com/thumb_w/660/2018/9/12/photo1536737075633-15367370756341079971966.jpg"
            alt=""
            width="330px"
            height="250px"
          />
          <p>Heo Quay</p>
          <p>35.000đ</p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <section class="related-product">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title related__product__title">
              <h2>Món ăn liên quan</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                style="background-image: url(assets/img/product/1.png)"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a routerLink="/chitietsanpham"
                      ><i class="fa fa-external-link"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Cơm Tấm Sườn Bì</a></h6>
                <h5>30.000đ</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                style="background-image: url(assets/img/product/2.png)"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-external-link"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Thịt Kho Đậu Hủ</a></h6>
                <h5>25.000đ</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                style="background-image: url(assets/img/product/3.png)"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-external-link"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Thịt Luộc Cà Pháo</a></h6>
                <h5>35.000đ</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="product__item">
              <div
                class="product__item__pic set-bg"
                style="background-image: url(assets/img/product/4.png)"
              >
                <ul class="product__item__pic__hover">
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-external-link"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6><a href="#">Cá Kho Tiêu</a></h6>
                <h5>20.000đ</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="title-load">
  <h1>Cơm Mẹ Nấu</h1>
</div>
<!-- <div class="header">
  <div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="https://wallpaperaccess.com/full/462778.jpg" />
        </div>

        <div class="item">
          <img
            src="https://www.havamall.com/wp-content/uploads/2021/02/6e993a10c151d735d824cea60b02a03f.jpg"
          />
        </div>

        <div class="item">
          <img
            src="https://i.pinimg.com/originals/4f/78/4c/4f784cb7110581ec03e8013f2da94573.jpg"
          />
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> -->
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2589225125566!2d106.78567241380087!3d10.86790069225949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zxJDhuqFpIEjhu41jIE7DtG5nIEzDom0!5e0!3m2!1svi!2s!4v1623140248862!5m2!1svi!2s"
  width="100%"
  height="450"
  style="border: 0; padding: 20px 50px"
  allowfullscreen=""
  loading="lazy"
></iframe>
