$blue: #2b82ad;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;

//css Support

.support-area {
  padding: 30px 0 15px;
  background: #fff;
  position: relative;
}
.sigle-support-icon {
  float: left;
  margin-right: 15px;
}
.sigle-support-icon p {
  background: #ffa726 none repeat scroll 0 0;
  color: #fff;
  font-size: 30px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 48px;
}
.sigle-support-content h2 {
  font-size: 16px;
  color: #ffa726;
  margin-bottom: 10px;
}
.sigle-support-content p {
  font-size: 14px;
}
//css Slide show

.wrapper {
  position: relative;
  height: 100vh;
  // width: 100vw;
  overflow: hidden;

  .slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);

    &--hero {
      z-index: 3;
      left: 0;
      top: 50%;
      // width: 100%;
      height: 85%;
      transform: translateY(-50%) skewY(-10deg);
      transform-origin: center;
      overflow: hidden;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

      .slides {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100vw;
        height: 100vh;
        animation: 11s slideshow-hero-mobile -3s infinite;
      }

      .slide1 {
        background-image: url(/assets/img/Body/slideshow1.jpg);
        animation: 20s slides-set-1 -0.1s infinite;
      }
      .slide2 {
        background-image: url(/assets/img/Body/slideshow2.jpg);
        animation: 20s slides-set-2 -0.1s infinite;
      }
      .slide3 {
        background-image: url(/assets/img/Body/slideshow3.jpg);
        animation: 20s slides-set-3 -0.1s infinite;
      }

      @media (min-width: 600px) {
        left: 50%;
        top: 0;
        width: 67%;
        height: 100%;
        transform: translateX(-50%) skewX(-10deg);

        .slides {
          top: 0;
          left: -25%;
          height: 100%;
          animation: 11s slideshow-hero -3s infinite;
        }
      }
    }

    &--contrast {
      z-index: 1;
      width: 100%;
      height: 50%;
      transform: none;

      .slide {
        // filter: blur(3px);
      }

      &--before {
        left: 0;

        .slides {
          width: 100vw;
        }
      }

      &--after {
        z-index: 2;
        left: auto;
        right: 0;

        .slides {
          width: 100vw;
          left: auto;
          right: 0;
        }
      }

      .slides {
        animation: 14s slideshow-contrast -5s infinite;
      }

      .slide1 {
        background-image: linear-gradient(
            to bottom,
            rgba(200, 200, 75, 0.25) 0,
            rgba(200, 75, 75, 0.5) 100%
          ),
          url(/assets/img/Body/slideshow1.jpg);
        // background-image: url(../img/slideshow/hero-1.jpg);
        animation: 20s slides-set-1 -0.2s infinite;
      }
      .slide2 {
        background-image: linear-gradient(
            to bottom,
            rgba(200, 200, 75, 0.25) 0,
            rgba(200, 75, 75, 0.5) 100%
          ),
          url(/assets/img/Body/slideshow2.jpg);
        // background-image: url(../img/slideshow/hero-2.jpg);
        animation: 20s slides-set-2 -0.2s infinite;
      }
      .slide3 {
        background-image: linear-gradient(
            to bottom,
            rgba(200, 200, 75, 0.25) 0,
            rgba(200, 75, 75, 0.5) 100%
          ),
          url(/assets/img/Body/slideshow3.jpg);
        // background-image: url(../img/slideshow/hero-3.jpg);
        animation: 20s slides-set-3 -0.2s infinite;
      }

      &--after {
        top: auto;
        bottom: 0;

        .slides {
          animation: 13s slideshow-contrast -13s infinite;
        }
        .slide {
          background-position: right;
        }
        .slide1 {
          animation: 20s slides-set-1 infinite;
        }
        .slide2 {
          animation: 20s slides-set-2 infinite;
        }
        .slide3 {
          animation: 20s slides-set-3 infinite;
        }
      }

      @media (min-width: 600px) {
        width: 50%;
        height: 100%;

        &--after {
          top: 0;
          bottom: auto;

          .slides {
            width: 50vw;
          }
        }
      }
    }
  }

  .slides,
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @keyframes slideshow-hero-mobile {
    0% {
      transform: scale(1) skewY(10deg);
    }
    50% {
      transform: scale(1.05) skewY(10deg);
    }
    100% {
      transform: scale(1) skewY(10deg);
    }
  }

  @keyframes slideshow-hero {
    0% {
      transform: scale(1) skewX(10deg);
    }
    50% {
      transform: scale(1.05) skewX(10deg);
    }
    100% {
      transform: scale(1) skewX(10deg);
    }
  }

  @keyframes slideshow-contrast {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  @keyframes slides-set-1 {
    0% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    31% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    34% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
    97% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
  }
  @keyframes slides-set-2 {
    0% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    31% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    34% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    64% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    67% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
    100% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-3 {
    0% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    64% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    67% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    97% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
  }
}

//css Task com
.body-home {
  margin-top: 3em;

  .title-body {
    margin-left: 45%;
    margin-bottom: 10em;
    h5 {
      font-size: 30px;
    }
    p {
      position: relative;
      top: 10px;
      font-size: 1.5em;
      margin-left: 1em;
    }
    button {
      top: 20px;
      height: 40px;
      width: 100px;
      border-radius: 10px;
      position: relative;
      left: -20px;
      background-color: $blue;
      border: none;
      color: $white;
      font-size: 15px;
    }
    button:nth-last-child(1) {
      position: relative;
      left: 10px;
    }
  }
  .title-everyday {
    h5 {
      margin-left: 42%;
      font-size: 30px;
    }
    ul {
      margin-left: 30%;
      font-size: 15px;
    }
    .tab-panels {
      p {
        font-size: 20px;
      }
    }
  }
  // San Pham Slide
  div {
    .related-product {
      padding-bottom: 20px;
      .related__product__title {
        margin-bottom: 70px;
      }
      .product__item {
        margin-bottom: 50px;
        .product__item__pic {
          height: 270px;
          // width: 290px;
          position: relative;
          overflow: hidden;

          .product__item__pic__hover {
            position: absolute;
            left: 0;
            bottom: -50px;
            width: 100%;
            text-align: center;
            -webkit-transition: all, 0.5s;
            -moz-transition: all, 0.5s;
            -ms-transition: all, 0.5s;
            -o-transition: all, 0.5s;
            transition: all, 0.5s;

            li {
              list-style: none;
              display: inline-block;
              margin-right: 6px;
              a {
                font-size: 16px;
                color: $black;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #ebebeb;
                background: $white;
                display: block;
                border-radius: 50%;
                -webkit-transition: all, 0.5s;
                -moz-transition: all, 0.5s;
                -ms-transition: all, 0.5s;
                -o-transition: all, 0.5s;
                transition: all, 0.5s;
                i {
                  position: relative;
                  transform: rotate(0);
                  -webkit-transition: all, 0.3s;
                  -moz-transition: all, 0.3s;
                  -ms-transition: all, 0.3s;
                  -o-transition: all, 0.3s;
                  transition: all, 0.3s;
                }
              }
            }
            li:last-child {
              margin-right: 0;
            }
            li:hover a {
              background: $blue;
              border-color: $blue;
              i {
                color: $white;
                transform: rotate(360deg);
              }
            }
          }
        }
        .product__item__text {
          text-align: center;
          padding-top: 15px;
          h6 {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 20px;
            a {
              color: $black;
              text-decoration: none;
            }
          }
          h5 {
            color: $black;
            font-weight: 700;
          }
        }
      }
      .product__item:hover .product__item__pic .product__item__pic__hover {
        bottom: 20px;
      }
      .product__item:hover {
        // -webkit-box-shadow: 0px 0px 10px 2px $blue2;
        // box-shadow: 0px 0px 10px 2px $blue2;
        transform: scale(1.07);
        visibility: visible;
      }
    }
  }
}
@import url("https://fonts.googleapis.com/css?family=Creepster");

$frame-duration: 0.3;
$images-list: "/assets/img/product/1.png", "/assets/img/product/1.png",
  "/assets/img/product/2.png", "/assets/img/product/3.png",
  "/assets/img/product/4.png", "/assets/img/product/5.png",
  "/assets/img/product/6.png";

h1 {
  margin: 0;
  font-size: 20em;
  line-height: 25vw;
  font-family: Creepster, sans-serif;
  color: #ff6d00;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  animation: slideshow #{length($images-list) * $frame-duration}s infinite
    steps(1);
}

@keyframes slideshow {
  @for $i from 1 through length($images-list) {
    $percent: if($i == 1, (0%, 100%), (100% / length($images-list) * ($i - 1)));
    #{$percent} {
      background-image: url(nth($images-list, $i));
    }
  }
}
.title-load {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #ffe0b2;
  // background-image: url("/assets/img/Body/slideshow4.jpg");
  // background-repeat: no-repeat;
}
