* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: black;
    margin: 0px;
    transition: 0px;
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #2b82ad;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    color: black;
}

p {
    font-size: 14px;
    line-height: 1.7;
    color: black;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 20px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #2b82ad;
}

.container {
    margin: auto;
    margin-bottom: 100px;
    .title-content {
        color: #2b82ad;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
    }
    .check-account {
        width: 53%;
        height: fit-content;
    }
    .check-coupon {
        width: 53%;
        height: fit-content;
    }
    .detail-checkout {
        margin-top: 20px;
        height: fit-content;
        width: 100%;
        float: left;
    }
    
}
//tablet and moblie
@media only screen and (max-width: 63.9375em){
    .container{
        padding-right: 10px;
        padding-left: 10px;
        .detail-checkout{
            width: 100%;
            padding-right: 0;
        }
        .order-checkout{
            width: 100%;
        }
        .check-coupon {
            width: 100%;
        }
        .check-account {
            width: 100%;

        }
    }
    
}
// moblie
@media only screen and (max-width: 46.1875em){

}
//tablet
@media only screen and (min-width: 46.25em ) and (max-width: 63.9375em){
    
    
}