<div class="container">
    <div class="row">
        <h1 class="title-content">THANH TOÁN</h1>
        <div class="check-account">
            <app-checkout-account></app-checkout-account>
        </div>
        <div class="check-coupon">
            <app-checkout-coupon></app-checkout-coupon>
        </div>
        <div class="detail-checkout">
            <app-checkout-detail></app-checkout-detail>
        </div>
        <!-- <div class="order-checkout">
            <app-checkout-order></app-checkout-order>
        </div> -->
    </div>
</div>
