* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

a {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  margin: 0px;
  transition: 0px;
  text-decoration: none; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none;
  color: #3ac5c8; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  color: black; }

p {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  margin: 0px; }

ul,
li {
  margin: 0px;
  list-style-type: none; }

textarea:focus,
input:focus {
  border-color: transparent !important; }

button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  width: 100px;
  height: 20px;
  border-radius: 2px; }

button:hover {
  cursor: pointer;
  background-color: #3ac5c8; }

.container {
  margin: auto;
  margin-bottom: 100px; }
  .container .title-content {
    color: #3ac5c8;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600; }
  .container .check-account {
    width: 53%;
    height: fit-content; }
    .container .check-account a {
      cursor: pointer; }
    .container .check-account a:hover {
      color: #3ac5c8; }
    .container .check-account .detail-account {
      width: 100%;
      height: 100px;
      border: black 2px solid;
      background-color: #f5f5f5;
      padding: 5px;
      padding-left: 20px; }
      .container .check-account .detail-account .user-checkout, .container .check-account .detail-account .pass-checkout {
        float: left;
        width: 40%;
        height: fit-content; }
        .container .check-account .detail-account .user-checkout input, .container .check-account .detail-account .pass-checkout input {
          width: 220px;
          height: 25px;
          border: 2px solid gray; }
      .container .check-account .detail-account .pass-checkout {
        width: 60%; }
      .container .check-account .detail-account button {
        float: left;
        margin-top: 5px;
        width: 10%; }
      .container .check-account .detail-account .remember-pass {
        height: fit-content;
        margin-top: 5px;
        width: 90%;
        float: left;
        padding-left: 30px; }
        .container .check-account .detail-account .remember-pass label {
          margin-left: 2px; }
  .container .check-coupon {
    width: 53%;
    height: fit-content; }
    .container .check-coupon a {
      cursor: pointer; }
    .container .check-coupon a:hover {
      color: #3ac5c8; }
    .container .check-coupon .detail-coupon {
      width: 100%;
      height: fit-content;
      border: black 2px solid;
      background-color: #f5f5f5;
      padding: 10px;
      padding-left: 20px; }
      .container .check-coupon .detail-coupon input {
        width: 80%;
        height: 30px;
        border: 2px solid gray;
        padding-left: 10px; }
      .container .check-coupon .detail-coupon button {
        height: 30px;
        margin-left: 20px; }
  .container .detail-checkout {
    margin-top: 20px;
    height: fit-content;
    width: 60%;
    float: left;
    padding-right: 100px; }
    .container .detail-checkout h1 {
      margin-top: 5px;
      font-size: 20px; }
    .container .detail-checkout input {
      width: 100%;
      height: 30px;
      border: 2px solid #e1e1e1;
      margin-bottom: 15px;
      margin-top: 5px; }
    .container .detail-checkout .phone-checkout, .container .detail-checkout .email-checkout {
      width: 50%;
      float: left; }
    .container .detail-checkout .email-checkout {
      padding-left: 20px; }
    .container .detail-checkout .phone-checkout {
      padding-right: 20px; }
    .container .detail-checkout .note-checkout {
      width: 100%;
      height: fit-content; }
    .container .detail-checkout textarea {
      width: 100%;
      border: 2px solid #e1e1e1; }
  .container .order-checkout {
    width: 40%;
    float: left;
    padding: 30px;
    border: black 2px solid;
    margin-top: 20px; }
    .container .order-checkout h1 {
      margin-top: 5px;
      font-size: 20px; }
    .container .order-checkout h5 {
      font-size: 15px; }
    .container .order-checkout table {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px; }
      .container .order-checkout table .right {
        text-align: right; }
      .container .order-checkout table tr {
        height: 20px; }
      .container .order-checkout table th {
        font-size: 14px;
        font-weight: normal; }
    .container .order-checkout .discount-checkout, .container .order-checkout .total-checkout {
      width: 100%;
      height: 20px;
      margin-top: 10px; }
      .container .order-checkout .discount-checkout h5, .container .order-checkout .total-checkout h5 {
        float: left; }
      .container .order-checkout .discount-checkout p, .container .order-checkout .total-checkout p {
        float: right; }
    .container .order-checkout .btn-checkout {
      width: 100%;
      height: 30px;
      margin-top: 20px; }
      .container .order-checkout .btn-checkout button {
        width: 300px;
        border-radius: 10px;
        margin-left: 20%;
        height: 30px;
        font-size: 15px;
        background-color: #3ac5c8; }

/*# sourceMappingURL=checkout.component.css.map */
