* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-size: 14px;
    line-height: 1.7;
    color: black;
    margin: 0px;
    transition: 0px;
    text-decoration: none;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #3ac5c8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    color: black;
}
p {
    font-size: 14px;
    line-height: 1.7;
    color: black;
    margin: 0px;
}
ul,
li {
    margin: 0px;
    list-style-type: none;
}
textarea:focus,
input:focus {
    border-color: transparent !important;
}
button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 20px;
    border-radius: 2px;

}
button:hover{
    cursor: pointer;
    background-color: #3ac5c8;
}

.container{
    margin: auto;
    .title-content{
        color: #3ac5c8;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 600;
    }
    .check-account{
        width: 90%;
        height: fit-content;
        .detail-account{
            width: 100%;
            height: 100px;
            border: black 2px solid;
            background-color:  #f5f5f5;
            padding: 5px;
            padding-left: 20px;
            .user-checkout , .pass-checkout{
                float: left;
                width: 20%;
                height: fit-content;
                input{
                    width: 220px;
                    height: 25px;
                    border: 2px solid gray;
                }
            }
            .pass-checkout{
                width: 80%;
            }
            button{
                float: left;
                margin-top: 5px;
                width: 10%;
            }
            .remember-pass{
                height: fit-content;
                margin-top: 5px;
                width: 90%;
                float: left;
                padding-left: 30px;
                label{
                    margin-left: 2px;
                }
            }
            
            
        }

    }
    .check-coupon{
        width: 90%;
        height: fit-content;
        .detail-coupon{
            width: 100%;
            height: fit-content;
            border: black 2px solid;
            background-color:  #f5f5f5;
            padding: 10px;
            padding-left: 20px;
            input{
                width: 60%;
                height: 30px;
                border: 2px solid gray;
                padding-left: 10px;
            }
            button{
                height: 30px;
                margin-left: 20px;
            }
        }
    }
    .detail-checkout{
        margin-top: 20px;
        height: fit-content;
        width: 50%;
        float: left;
        padding-right: 30px;
        h1{
            margin-top: 5px;
            font-size: 20px;
        }
        input{
            width: 100%;
            height: 30px;
            border: 2px solid #e1e1e1;
            margin-bottom: 15px;
            margin-top: 5px;
        }
        .phone-checkout , .email-checkout{
            width: 50%;
            float:left;
        }
        .email-checkout{
            padding-left: 20px;
        }
        .phone-checkout{
            padding-right: 20px;
        }
        .note-checkout{
            width: 100%;
            height:fit-content;
        }
        textarea{
            width: 100%;
            border: 2px solid #e1e1e1
        }
    }
    .order-checkout{
        width: 40%;
        float: left;
        padding: 30px;
        border: black 2px solid ;
        margin-top: 20px;
        h1{
            margin-top: 5px;
            font-size: 20px;
        }
        h5{
            font-size: 15px;
        }
        table{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            .right{
                text-align: right;
            }
            tr{
                height: 20px;
            }
            th{
                font-size: 14px;
                font-weight: normal;
            }
            
        }
        .discount-checkout , .total-checkout{
            width: 100%;
            height: 20px;
            margin-top: 10px;
            h5{
                float: left;
            }
            p{
                float: right;
            }
        }
        .btn-checkout{
            width: 100%;
            height: 30px;
            margin-top: 20px;
            
            
            button{
                width: 300px;
                border-radius: 10px;
                margin-left: 20%;
                height: 30px;
                font-size: 15px;
                background-color: #3ac5c8 ;
            }
        }
        
        
        
    }

}