* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  margin: 0px;
  -webkit-transition: 0px;
  transition: 0px;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #3ac5c8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: black;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

#container .container-forgot {
  background-image: url("bg.png");
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#container .container-forgot .wrap-forgot {
  width: 450px;
  background: #fff;
  border-radius: 64px;
  overflow: hidden;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 65px;
  padding-bottom: 54px;
}

#container .container-forgot .wrap-forgot .forgot-form {
  width: 100%;
}

#container .container-forgot .wrap-forgot .forgot-form .forgot-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 49px;
  font-weight: bolder;
}

#container .container-forgot .wrap-forgot .forgot-form .validate-input {
  position: relative;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 23px;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input .label-input {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
  font-weight: bolder;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input input {
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  background: transparent;
  padding: 0 7px 0 43px;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input .focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 35px;
  left: 20px;
  pointer-events: none;
  font-size: 16px;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input .focus-input::after {
  content: attr(data-symbol);
  color: #adadad;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: calc(100% - 20px);
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

#container .container-forgot .wrap-forgot .forgot-form .wrap-input .focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: #7f7f7f;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#container .container-forgot .wrap-forgot .forgot-form .container-forgot-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container .container-forgot .wrap-forgot .forgot-form .container-forgot-form-btn .wrap-forgot-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

#container .container-forgot .wrap-forgot .forgot-form .container-forgot-form-btn .wrap-forgot-form-btn .forgot-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: linear-gradient(-45deg, #09e9de, #3ac5c8, #92edff);
  -webkit-animation: gradient 6s ease infinite;
          animation: gradient 6s ease infinite;
  background-size: 400% 400%;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#container .container-forgot .wrap-forgot .forgot-form .container-forgot-form-btn .wrap-forgot-form-btn .forgot-form-btn {
  font-family: Poppins-Medium;
  font-size: 19px;
  font-weight: bolder;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

#container .container-forgot .wrap-forgot .forgot-form .flex-col-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*# sourceMappingURL=forgot-password.component.css.map */