<div id="container">
    <div class="container-forgot">
        <div class="wrap-forgot">
            <form class="forgot-form validate-form">
                <span class="forgot-form-title">
                    Quên Mật Khẩu
                </span>
                <div class="wrap-input validate-input" data-validate="Phone is reauired">
                    <span class="label-input">Số điện thoại</span>
                    <input class="input" type="text" name="phone"
                        placeholder="Nhập số điện thoại của bạn">
                    <div class="focus-input">
                        <div class="ic">
                            <i class="fas fa-phone"></i>
                        </div>
                    </div>
                </div>
                <div class="wrap-input validate-input" data-validate="Username is reauired">
                    <span class="label-input">Email </span>
                    <input class="input" type="text" name="username"
                        placeholder="Nhập email của bạn">
                    <div class="focus-input">
                        <div class="ic">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="container-forgot-form-btn">
                    <div class="wrap-forgot-form-btn">
                        <div class="forgot-form-bgbtn"></div>
                        <button class="forgot-form-btn">
                            Gửi
                        </button>
                    </div>
                </div>

                <!-- <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Or Sign Up Using
                    </span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div> -->

                <div class="flex-col-c">
                    <span class="txt1">
                        Đã có tài khoản
                    </span>

                    <a href="" class="txt2">
                        Đăng Nhập
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
