$blue: #23536b;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.menu-header2 {
    display: flex;
    color: $white;
    position: absolute;
    z-index: 999999;
    transition: 0.4s;
    height: 120px;
    width: 100%;
}

.menu-header {
    width: 100%;
    display: flex;
    color: $white;
    position: relative;
    z-index: 99999;
    transition: 0.4s;
    background-color: $blue;
    height: 120px;
}

.navbar {
    .navbar-toggler {}
}

.menu-header2:hover {
    background-color: $blue;
}

.header {
    #idLogo {
        letter-spacing: 10px;
        top: 0.5em;
        position: absolute;
        left: 150%;
        font-size: 25px;
    }
    .header-big {
        position: relative;
        transition: 0.4s;
        margin-top: 3.5em;
        left: 120%;
        display: flex;
        .menu-bar-title {
            color: $gray;
            text-decoration: none;
            margin: 0 20px;
            .menu-word {
                cursor: pointer;
                height: 15px;
                font-size: 0.7em;
                font-weight: bold;
            }
            .menu-word:hover {
                height: 15px;
            }
        }
        .menu-bar-title:hover {
            .thanh-bar {
                position: relative;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $white;
                border-left: 5px solid transparent;
                width: 0;
                height: 0;
                margin: auto;
            }
        }
    }
    .icon-menu {
        display: flex;
        position: relative;
        margin-left: 40%;
        margin-top: 0.4em;
        .name_title {
            overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
            text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
            -webkit-line-clamp: 1; // số dòng muốn hiển thị
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        a {
            position: relative;
            left: 0;
            transition: left 0.4s;
            color: $white;
            i {
                padding: 0.8em;
                cursor: pointer;
            }
        }
        .user-big {
            .login-user {
                // top: 5em;
                transition: height 0.5s ease-in;
                position: absolute;
                background-color: $white;
                width: 0px;
                height: 0px;
                right: -35px;
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                overflow: hidden;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
                border-radius: 3px;
                div {
                    background-color: #2b82ad;
                    height: 150px;
                    border: solid 2px $white;
                    button {
                        width: 90%;
                        height: 3em;
                        color: $black;
                        margin-top: 25%;
                        margin-left: 5%;
                    }
                }
                .login-button {
                    width: 90%;
                    height: 3em;
                    color: $white;
                    background-color: $black;
                    margin-top: 5%;
                    margin-left: 5%;
                }
            }
        }
        .user-big:hover {
            .login-user {
                height: 230px;
                opacity: 1;
                visibility: inherit;
                width: 300px;
            }
        }
        .bag-big {
            .bag-user {
                // margin-top: 1em;
                transition: height 0.5s ease-in;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                background-color: $white;
                width: 0em;
                height: 0em;
                right: -125px;
                z-index: 2;
                overflow: hidden;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
                border-radius: 3px;
                .food-bag {
                    color: $black;
                    margin-left: 34%;
                    margin-top: 0.7em;
                    font-size: 1.5em;
                }
                .scroll {
                    height: 225px;
                    overflow-y: auto;
                    .item-cart {
                        color: $black;
                        display: flex;
                        margin-left: 20px;
                        font-size: 1.5em;
                        margin-top: 10px;
                        .item-food {
                            justify-content: space-between;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            p {
                                margin-bottom: 10px;
                            }
                        }
                        p {
                            color: darkgray;
                        }
                        p:nth-child(1) {
                            color: $black;
                            font-size: 14px;
                            font-weight: 700;
                            cursor: pointer;
                        }
                        p:nth-child(1):hover {
                            color: $blue;
                        }
                        p:nth-child(2) {
                            font-size: 12px;
                        }
                        p:nth-child(3) {
                            color: $black;
                            font-size: 14px;
                            font-weight: 700;
                        }
                        img {
                            width: 70px;
                            height: 95px;
                            margin-right: 20px;
                            cursor: pointer;
                            object-fit: cover;
                        }
                    }
                }
                .sub-total {
                    margin-top: 1em;
                    border-top: solid 1px #141619;
                    border-bottom: solid 1px #141619;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    justify-content: space-between;
                    color: $black;
                    font-size: 1em;
                    padding: 12px;
                    p {
                        margin-bottom: 0;
                    }
                }
                div {
                    button {
                        font-size: 1em;
                        width: 90%;
                        height: 2em;
                        color: $black;
                        margin-top: 1em;
                        margin-left: 5%;
                        border: 1px solid #ccc;
                        border-radius: 2px;
                    }
                }
                .bag-button {
                    border: none;
                    font-size: 1em;
                    width: 90%;
                    height: 2em;
                    color: $white;
                    background-color: $black;
                    margin-top: 10px;
                    margin-left: 5%;
                    border-radius: 2px;
                }
            }
        }
        .bag-big:hover {
            .bag-user {
                opacity: 1;
                visibility: inherit;
                width: 20em;
                height: 470px;
            }
        }
        .thanhbar-muiten:hover {
            .thanh-bar {
                position: relative;
                border-top: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid $white;
                border-left: 7px solid transparent;
                width: 0;
                height: 0;
                margin: auto;
            }
        }
        .search-menu {
            .search-cancel {
                font-size: 20px;
                position: relative;
                top: -5px;
            }
            .search-menu-bar {
                opacity: 0;
                visibility: none;
                background-color: $white;
                color: #141619;
                width: 0em;
                position: absolute;
                right: 0px;
                height: 0em;
                padding: 0.2em 3em;
                overflow: hidden;
                transition: height 0.5s ease-in;
                z-index: 2;
                box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
                border-radius: 3px;
            }
            .input-search {
                border-bottom: solid 1px black;
                width: 100%;
                font-size: 1em;
                padding: 1em 0;
                input {
                    margin-left: 10px;
                    border: none;
                    outline: none;
                    width: 90%;
                }
            }
            .title-search {
                display: flex;
                margin-top: 1em;
                .search-Sug {
                    width: 32%;
                    padding-left: 0;
                }
                ul {
                    h5 {
                        margin-bottom: 1em;
                    }
                    li {
                        display: flex;
                        padding-left: 10px;
                        i {
                            color: darkgray;
                            padding-right: 0.7em;
                            font-size: 1em;
                        }
                        p {
                            font-size: 1em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .search-menu {
            .search-menu-charge {
                opacity: 1;
                visibility: inherit;
                height: 25em;
                width: 45em;
                transition: height 0.5s ease-out;
            }
        }
    }
    .header-change {
        position: fixed;
        top: 0;
        background-color: $blue;
        height: 60px;
        width: 100%;
        h2 {
            visibility: hidden;
        }
        .menu-word {
            margin-top: -35px;
        }
    }
}

.header-cart {
    display: flex;
    .icon-x {
        margin-top: 20px;
        margin-left: 100px;
    }
}

.badge {
    position: absolute;
    top: 5px;
    right: 53px;
    padding: 2px 5px;
    border-radius: 100%;
    background: red;
    color: white;
}

.dangnhap {
    display: none;
}

.giohang {
    display: none;
}

.product-Search {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: $white;
    padding: 10px;
    li {
        padding: 6px;
    }
    a {
        background-color: $gray;
        border: 1px solid rgba(255, 255, 255, 0.8);
        padding: 10px;
        font-size: 9px;
        text-align: center;
        text-decoration: none;
        p {
            color: $black;
            margin-bottom: 0px;
            width: 100px;
        }
    }
}

//Mobile
.collapsable {
    display: inline-block;
    overflow: hidden;
    height: 0;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}

.collapsable.showMe {
    height: 100px;
}

//Navbar-mobile
.nav__input {
    display: none;
}

.nav__input:checked~.overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
    animation: FadeIn linear 0.3s;
}

.nav__mobile {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    z-index: 110;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    .nav__header {
        color: #333;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 0 16px 0 32px;
        .nav__header-title {
            letter-spacing: 5px;
            font-weight: 500;
            color: #2b82ad;
            flex: 1;
            font-size: 20px;
        }
        .nav__header-close {
            font-size: 20px;
            padding: 8px 16px;
            color: #909090;
            cursor: pointer;
        }
    }
    .nav__mobile-list {
        list-style: none;
        padding-left: 20px;
        .nav__mobile-item {
            display: flex;
            align-items: center;
            padding-left: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            .nav__mobile-icon {
                color: #757575;
                width: 20px;
                padding: 0 4px;
            }
            .nav__mobile-link {
                flex: 1;
                text-decoration: none;
                color: #333;
                display: block;
                font-size: 14px;
                padding: 16px 20px;
                cursor: pointer;
            }
        }
        .nav__mobile-item:hover {
            background-color: #f0f0f0;
        }
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//*----------------------------------Resposive Media--------------------
@media screen and(min-width:1200px) {
    .header {
        .icon-menu {
            margin-left: 53%;
            .search-menu {
                .search-menu-bar {
                    right: 0px;
                }
            }
            .user-big {
                .login-user {
                    // top: 5em;
                    right: 0px;
                }
            }
            .bag-big {
                .bag-user {
                    right: 0px;
                }
            }
        }
    }
}


/* Medium Device = 1200px */

@media only screen and (max-width: 992px) {
    .menu-header,
    .menu-header2 {
        justify-content: space-between;
        padding: 0 12px;
    }
    .header #idLogo {
        margin-left: 12px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header {
        #idLogo {
            left: 95%;
        }
        .header-big {
            position: relative;
            transition: 0.4s;
            margin-top: 3.5em;
            left: 65%;
            width: 450px;
        }
        .icon-menu {
            margin-left: 40%;
            .search-menu {
                .search-menu-bar {
                    right: 20px;
                }
            }
            .user-big {
                .login-user {
                    // top: 5em;
                    right: 0px;
                }
            }
            .bag-big {
                .bag-user {
                    right: 0px;
                }
            }
        }
    }
}


/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .menu-header2 {
        height: 60px;
    }
    .menu-header {
        height: 60px;
    }
    .header {
        .icon-menu {
            margin-left: 70%;
            .search-menu {
                .search-menu-bar {
                    right: -12px;
                }
            }
            .user-big {
                .login-user {
                    // top: 5em;
                    right: 0px;
                }
            }
            .bag-big {
                .bag-user {
                    right: 0px;
                }
            }
        }
    }
}


/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
    .menu-header2 {
        height: 60px;
    }
    .menu-header {
        height: 60px;
    }
    .header {
        #idLogo {
            top: 10px;
            position: absolute;
            left: 100%;
            font-size: 25px;
        }
        .header-big {
            left: 0%;
            position: fixed;
            background: #23536b;
            margin-top: 10px;
            min-width: 100%;
            .menu-bar-title {
                color: $gray;
                text-decoration: none;
                margin: 0 20px;
                .menu-word {
                    cursor: pointer;
                    height: 15px;
                    font-size: 0.7em;
                    font-weight: bold;
                }
                .menu-word:hover {
                    height: 15px;
                }
            }
        }
        .icon-menu {
            margin-left: 55%;
            .search-menu {
                .search-menu-bar {
                    // right: -14px;
                }
            }
            .search-menu {
                .search-menu-charge {
                    height: 25em;
                    width: 35em;
                    top: 51px;
                    .title-search {
                        .search-Sug {
                            display: none;
                        }
                        .product-Search {}
                    }
                }
            }
            .user-big {
                .login-user {
                    // top: 5em;
                    right: 10px;
                }
            }
            .bag-big {
                .bag-user {
                    right: 15px;
                }
            }
        }
    }
}


/* Small Device = 320px */

@media only screen and (max-width: 479px) {
    .menu-header {
        height: 60px;
    }
    .menu-header2 {
        height: 60px;
    }
    .header {
        #idLogo {
            top: 10px;
            position: absolute;
            left: 100%;
            font-size: 25px;
            letter-spacing: 3px;
        }
        .header-big {
            left: 0%;
            position: fixed;
            background: #23536b;
            margin-top: 10px;
            min-width: 100%;
            .menu-bar-title {
                color: $gray;
                text-decoration: none;
                margin: 0 20px;
                .menu-word {
                    cursor: pointer;
                    height: 15px;
                    font-size: 0.7em;
                    font-weight: bold;
                }
                .menu-word:hover {
                    height: 15px;
                }
            }
        }
        .icon-menu {
            margin-left: 60%;
            margin-top: 9px;
            a {
                i {
                    margin-top: 1px;
                    padding: 0.8em;
                    cursor: pointer;
                    // margin-left: 60px;
                }
            }
            .search-menu {
                .search-menu-bar {
                    right: 0px;
                    padding: 0.2em 1em;
                }
                .search-menu-charge {
                    // left: -255px;
                    height: 20.7em;
                    width: 335px;
                    top: 51px;
                    .title-search {
                        ul {
                            li {
                                padding-left: 0px;
                                padding: 0px;
                            }
                        }
                        .search-Sug {
                            display: none;
                        }
                        .product-Search {
                            grid-template-columns: none;
                            padding: 0px;
                            a {
                                display: flex;
                                padding: 5px;
                                min-width: 258px;
                                img {
                                    width: 30px;
                                    height: 30px;
                                }
                                p {
                                    min-width: 200px;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                    .input-search {
                        display: flex;
                        width: 100%;
                        i {}
                    }
                }
            }
            .user-big {
                display: none;
                .login-user {
                    // top: 5em;
                    right: -51px;
                }
            }
            .bag-big {
                .bag-user {
                    right: -30px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1366px) {
    .bag-big:hover {
        .bag-user{
            display: none;
        }
        .thanh-bar{
            display: none;
        }
    }
}