<div class="header">
    <div [class.header-change]="header_variable" class="{{ menu_header }}">
        <nav class="navbar navbar-expand-lg navbar-dark cyan">
            <!-- <div class="container"> -->
            <a routerLink="/trangchu">
                <h2 id="idLogo" class="navbar-brand">COMMENAU</h2>
            </a>
            <label for="nav__mobile-id" class="navbar-toggler" type="button">&#9776;</label>
            <input type="checkbox" name="" class="nav__input" id="nav__mobile-id">
            <label for="nav__mobile-id" class="overlay"></label>
            <div class="nav__mobile">
                <div class="nav__header">
                    <span class="nav__header-title">COMMENAU</span>
                    <label for="nav__mobile-id" class="nav__header-close">
                        <i class="fas fa-times"></i>
                    </label>
                </div>

                <ul class="nav__mobile-list">
                    <li class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-home"></i></div>
                        <label for="nav__mobile-id" routerLink="/trangchu" class="nav__mobile-link">
                            Trang chủ
                        </label>
                    </li>
                    <li class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-clipboard-list"></i></div>
                        <label for="nav__mobile-id" routerLink="/menu" class="nav__mobile-link">
                            Menu
                        </label>
                    </li>
                    <li class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-users"></i></div>
                        <label for="nav__mobile-id" routerLink="/vechungtoi" class="nav__mobile-link">
                            Về chúng tôi
                        </label>
                    </li>
                    <li class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-phone"></i></div>
                        <label for="nav__mobile-id" routerLink="/lienhe" class="nav__mobile-link">
                            Liên hệ
                        </label>
                    </li>
                    <li *ngIf="!getCheckLogin()" class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-sign-in-alt"></i></div>
                        <label for="nav__mobile-id" routerLink="/dangnhap" class="nav__mobile-link">
                            Đăng nhập
                        </label>
                    </li>
                    <li *ngIf="getCheckLogin()" class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-user"></i></div>
                        <label for="nav__mobile-id" routerLink="/thongtin" class="nav__mobile-link">
                            Tài khoản của tôi
                        </label>
                    </li>
                    <li *ngIf="getCheckLogin()" class="nav__mobile-item">
                        <div class="nav__mobile-icon"><i class="fas fa-sign-out-alt"></i></div>
                        <label for="nav__mobile-id" href="" class="nav__mobile-link" (click)="logout()">
                            Đăng xuất
                        </label>
                    </li>
                </ul>
            </div>


            <div id="main-nav" class="collapse navbar-collapse" id="toggleMobileMenu">
                <div class="header-big">
                    <ul class="navbar-nav text-center ms-auto mb-2 mb-lg-0 me-auto">
                        <li class="nav-item">
                            <a routerLink="/trangchu" class="menu-bar-title nav-link waves-light">
                                <h5 class="menu-word">
                                    TRANG CHỦ
                                    <div class="thanh-bar"></div>
                                </h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/menu" class="menu-bar-title nav-link waves-light">
                                <h5 class="menu-word">
                                    MENU
                                    <div class="thanh-bar"></div>
                                </h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/vechungtoi" class="menu-bar-title nav-link waves-light">
                                <h5 class="menu-word">
                                    VỀ CHÚNG TÔI
                                    <div class="thanh-bar"></div>
                                </h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/lienhe" class="menu-bar-title nav-link waves-light">
                                <h5 class="menu-word">
                                    LIÊN HỆ
                                    <div class="thanh-bar"></div>
                                </h5>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- </div> -->
        </nav>

        <div class="icon-menu">
            <div *ngIf="getCheckLogin()" class="acc" style="width: 100%">
                <p class="mt-2" style="cursor: pointer">
                    <i>{{ user.name }}</i>
                </p>
            </div>
            <div *ngIf="!getCheckLogin()" class="acc" style="width: 100%">
                <p class="mt-2" style="cursor: pointer"></p>
            </div>
            <div style="display: flex" class="collapse">
                <div class="user-big thanhbar-muiten">
                    <a class="userA"><i class="far fa-user"></i></a>
                    <div class="thanh-bar"></div>
                    <div *ngIf="!getCheckLogin()" class="login-user">
                        <div>
                            <button routerLink="/dangky">Tạo tài khoản</button>
                        </div>
                        <button class="login-button" routerLink="/dangnhap">
              Đăng nhập
            </button>
                    </div>
                    <div *ngIf="getCheckLogin()" class="login-user">
                        <div>
                            <button routerLink="/thongtin">Tài Khoản Của tôi</button>
                        </div>
                        <button class="login-button" routerLink="/dangnhap" (click)="logout()">
              Đăng xuất
            </button>
                    </div>
                </div>
                <div class="bag-big thanhbar-muiten">
                    <a class="bagA" routerLink="/giohang"><i class="fas fa-briefcase"></i></a>
                    <span class="badge">{{ getQuantity() }}</span>
                    <div class="thanh-bar"></div>
                    <div class="bag-user">
                        <div class="header-cart">
                            <p class="food-bag">Túi Đồ Ăn</p>
                        </div>

                        <div class="scroll">
                            <div class="item-cart" *ngFor="let i of items">
                                <a [routerLink]="['/chitietsanpham', i.id]"><img src="{{ i.img }}" alt="" /></a>
                                <div class="item-food">
                                    <a [routerLink]="['/chitietsanpham', i.id]">
                                        <p>{{ i.name }}</p>
                                    </a>
                                    <p>
                                        <label for=""> Số lượng: {{ i.quantity }}</label>
                                    </p>
                                    <p>
                                        <label for="">{{ i.price * i.quantity | currency: "VND":true }}
                    </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="sub-total">
                            <p>Tổng Tiền</p>
                            <p>{{ getTotal() | currency: "VND":true }}</p>
                        </div>
                        <div>
                            <a routerLink="/giohang"> <button>XEM GIỎ HÀNG</button></a>
                        </div>
                        <a routerLink="/thanhtoan"><button class="bag-button">THANH TOÁN</button></a>
                    </div>
                </div>
            </div>
            <div class="search-menu">
                <a>
                    <i (click)="searchClick()" class="search-cancel fas fa-search"></i
        ></a>
        <div class="search-menu-bar" [class.search-menu-charge]="search_click">
          <div class="input-search">
            <i class="fas fa-search"> </i>
                    <input placeholder="Bạn đang thèm gì nhờ?" type="text" [(ngModel)]="search" />
            </div>
            <div class="title-search">
                <ul class="search-Sug">
                    <h6>Tìm kiếm nhiều nhất: </h6>
                    <li>
                        <i class="fas fa-search"> </i>
                        <p>Cơm</p>
                    </li>
                    <li>
                        <i class="fas fa-search"> </i>
                        <p>Bò</p>
                    </li>
                    <li>
                        <i class="fas fa-search"> </i>
                        <p>Gà</p>
                    </li>
                </ul>
                <ul class="product-Search">
                    <li *ngFor="let d of getAllProduct() | filter: search">
                        <a [routerLink]="['/chitietsanpham', d.id]"><img src="{{ d.img }}" alt="" width="100px" height="100px" />
                            <p class="namep">{{d.name}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>




<router-outlet></router-outlet>
