$blue: #23536b;
$black: #141619;
$white: #ffffff;
$gray: #e7e7e7;
.menu-header2 {
    display: flex;
    color: $white;
    position: absolute;
    z-index: 999999;
    transition: 0.4s;
    height: 120px;
}

.menu-header {
    display: flex;
    color: $white;
    position: relative;
    z-index: 99999;
    transition: 0.4s;
    background-color: $blue;
    height: 120px;
}

.navbar {
    .navbar-toggler {}
}

.menu-header2:hover {
    background-color: $blue;
}

.header {
    #idLogo {
        top: 0.5em;
        position: absolute;
        left: 150%;
        font-size: 25px;
    }
    .header-big {
        position: relative;
        transition: 0.4s;
        margin-top: 3.5em;
        left: 110%;
        display: flex;
        .menu-bar-title {
            color: $gray;
            text-decoration: none;
            margin: 0 20px;
            .menu-word {
                cursor: pointer;
                height: 15px;
                font-size: 0.7em;
            }
            .menu-word:hover {
                height: 15px;
            }
        }
        .menu-bar-title:hover {
            .thanh-bar {
                position: relative;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid $white;
                border-left: 5px solid transparent;
                width: 0;
                height: 0;
                margin: auto;
            }
        }
    }
    .icon-menu {
        display: flex;
        position: relative;
        margin-left: 50em;
        margin-top: 0.4em;
        a {
            position: relative;
            left: 0;
            transition: left 0.4s;
            color: $white;
            i {
                padding: 0.8em;
                cursor: pointer;
            }
        }
        .user-big {
            height: 1.9em;
            .login-user {
                // top: 5em;
                transition: height 0.5s ease-in;
                position: absolute;
                background-color: $white;
                width: 0px;
                height: 0px;
                right: 0;
                z-index: 2;
                visibility: hidden;
                opacity: 0;
                overflow: hidden;
                div {
                    background-color: #2b82ad;
                    height: 100px;
                    button {
                        width: 150px;
                        height: 4em;
                        color: $black;
                        margin-top: 50px;
                        margin-left: 25%;
                    }
                }
                .login-button {
                    width: 150px;
                    height: 4em;
                    color: $white;
                    background-color: $black;
                    margin-top: 10px;
                    margin-left: 25%;
                }
            }
        }
        .user-big:hover {
            .login-user {
                height: 230px;
                opacity: 1;
                visibility: inherit;
                width: 300px;
            }
        }
        .bag-big {
            height: 1.9em;
            .bag-user {
                // margin-top: 1em;
                transition: height 0.5s ease-in;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                background-color: $white;
                width: 0em;
                height: 0em;
                right: -70px;
                z-index: 2;
                overflow: hidden;
                .food-bag {
                    color: $black;
                    margin-left: 34%;
                    margin-top: 0.7em;
                    font-size: 1.5em;
                }
                .scroll {
                    height: 150px;
                    overflow-y: scroll;
                    .item-cart {
                        color: $black;
                        display: flex;
                        margin-left: 20px;
                        font-size: 1.5em;
                        margin-top: 10px;
                        .item-food {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                        }
                        p {
                            color: darkgray;
                        }
                        p:nth-child(1) {
                            color: $black;
                            width: 40%;
                        }
                        p:nth-child(2) {
                            width: 10%;
                        }
                        p:nth-child(3) {
                            width: 30%;
                        }
                        img {
                            width: 40px;
                            height: 50px;
                            margin-right: 20px;
                        }
                    }
                }
                .sub-total {
                    margin-top: 2em;
                    border-top: solid 1px #141619;
                    border-bottom: solid 1px #141619;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    color: $black;
                    font-size: 1em;
                }
                div {
                    button {
                        font-size: 1em;
                        width: 90%;
                        height: 2em;
                        color: $black;
                        margin-top: 50px;
                        margin-left: 5%;
                        border: none;
                    }
                }
                .bag-button {
                    border: none;
                    font-size: 1em;
                    width: 90%;
                    height: 3em;
                    color: $white;
                    background-color: $black;
                    margin-top: 10px;
                    margin-left: 5%;
                }
            }
        }
        .bag-big:hover {
            .bag-user {
                opacity: 1;
                visibility: inherit;
                width: 25em;
                height: 500px;
            }
        }
        .thanhbar-muiten:hover {
            .thanh-bar {
                position: relative;
                border-top: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid $white;
                border-left: 7px solid transparent;
                width: 0;
                height: 0;
                margin: auto;
            }
        }
        .search-menu {
            .search-cancel {
                font-size: 25px;
                position: relative;
                top: -0.6em;
                right: 10px;
            }
            .search-menu-bar {
                opacity: 0;
                visibility: none;
                background-color: $white;
                color: #141619;
                width: 0em;
                position: absolute;
                right: -100px;
                height: 0em;
                padding: 2em 5em;
                overflow: hidden;
                transition: height 0.5s ease-in;
                z-index: 2;
            }
            .input-search {
                border-bottom: solid 1px black;
                width: 90%;
                font-size: 1em;
                padding: 1em 0;
                input {
                    margin-left: 10px;
                    border: none;
                    outline: none;
                    width: 90%;
                }
            }
            .title-search {
                margin-top: 2em;
                ul {
                    h5 {
                        margin-bottom: 1em;
                    }
                    li {
                        display: flex;
                        i {
                            color: darkgray;
                            padding-right: 0.7em;
                            font-size: 1em;
                        }
                        p {
                            font-size: 1em;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .search-menu {
            .search-menu-charge {
                opacity: 1;
                visibility: inherit;
                height: 25em;
                width: 45em;
                transition: height 0.5s ease-out;
            }
        }
    }
    .header-change {
        position: fixed;
        top: 0;
        background-color: $blue;
        height: 60px;
        h2 {
            visibility: hidden;
        }
        .menu-word {
            margin-top: -35px;
        }
    }
}

.header-cart {
    display: flex;
    .icon-x {
        margin-top: 20px;
        margin-left: 100px;
    }
}
